<div class="footer-content">
    <div id="footElement1" class="footer-element">
        <svg class="i-icon">
            <use xlink:href="#icon-foot-1"></use>
        </svg>
    </div>
    <div id="footElement2" class="footer-element">
        <svg class="i-icon">
            <use xlink:href="#icon-foot-2"></use>
        </svg>
    </div>
    <div id="footElement3" class="footer-element">
        <svg class="i-icon">
            <use xlink:href="#icon-foot-3"></use>
        </svg>
    </div>
    <div id="footElement4" class="footer-element">
        <svg class="i-icon">
            <use xlink:href="#icon-foot-4"></use>
        </svg>
    </div>
    <div id="footElement5" class="footer-element">
        <svg class="i-icon">
            <use xlink:href="#icon-foot-5"></use>
        </svg>
    </div>
    <div id="footElement6" class="footer-element">
        <svg class="i-icon">
            <use xlink:href="#icon-foot-6"></use>
        </svg>
    </div>
    <div class="footer-content__modal">
        <%- require("./mailing.ejs")() %>
    </div>
    <div class="footer-content__about">
        <div class="footer-logo">
            <img src="./images/svg/logo.svg" alt="" class="footer-logo__img">
        </div>
        <div class="copyright">© Mr. Mish - бутик радости. 2019. Все права защищены.</div>
        <div class="police">
            <div class="police-item">
                <a href="#" class="police-item__link">Пользовательское соглашение</a>
            </div>
            <div class="police-item">
                <a href="#" class="police-item__link">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="developer">
            <a class="developer__link" href="https://iarga.ru/" target="_blank">
                <span class="developer__label">Сделано в</span>
                <img class="developer__img" src="./images/svg/stratosfera.svg" alt="">
            </a>
        </div>
    </div>
</div>