<div class="footer-contacts">
    <div class="footer-contacts__top">
        <div class="footer-contacts__phone">
            <div class="phone">
                <a class="phone__link" href="tel:88001234567">8 800 123-45-67</a>
            </div>
        </div>
        <div class="footer-contacts__mail">
            <div class="mail">
                <a href="mailto:info@mr.mish.ru" class="mail__link">info@mr.mish.ru</a>
            </div>
        </div>
        <div class="footer-contacts__point">
            <div class="point">
                <p>350011, Россия, Краснодарский край, г. Краснодар, ул. Старокубанская, 2/23, корп. 1, пом. 17-23</p>
            </div>
        </div>
    </div>
    <div class="footer-contacts__bottom">
        <%- require("./payment.ejs")() %>
    </div>
</div>