<div class="header-sticky" data-header-sticky>
    <div class="header-sticky__middle">
        <div class="container">
            <div class="header-middle">
                <div class="header-middle__left">
                    <div class="header-middle__nav header-middle__nav--sticky">
                        <div class="header__socials" data-sticky="socials"></div>
                        <div class="header__burger">
                            <div class="circle-list">
                                <div class="circle-list__item">
                                    <div class="circle-item circle-item--burger">
                                        <a href="#" class="circle-item__link" data-burger>
                                            <i class="circle-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-burger"></use>
                                                </svg>
                                            </i>
                                            <span class="circle-item__label">Каталог</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-middle__contacts header-middle__contacts--sticky">
                        <div class="header__call" data-sticky="call"></div>
                        <div class="header__phone" data-sticky="phone"></div>
                    </div>
                </div>
                <div class="header-middle__center" data-sticky="logo"></div>
                <div class="header-middle__right">
                    <div class="header__search" data-sticky="search"></div>
                    <div class="header__profile" data-sticky="profile"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky__bottom" data-header-sticky-catalog>
        <div class="container">
            <nav class="header-catalog" data-sticky="catalog"></nav>
        </div>
    </div>
</div>