<div class="header-middle">
    <div class="header-middle__left">
        <div class="header-middle__nav">
            <div class="header__burger">
                <div class="circle-list">
                    <div class="circle-list__item">
                        <div class="circle-item circle-item--burger">
                            <a href="#" class="circle-item__link" data-mobile-burger>
                                <i class="circle-item__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-burger"></use>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__socials" data-header="socials">
                <div class="circle-list" data-move="socials">
                    <div class="circle-list__item">
                        <div class="circle-item circle-item--socials circle-item--vkontakte">
                            <a href="https://vk.com/mr.mishfriend" class="circle-item__link">
                                <i class="circle-item__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-vk"></use>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="circle-list__item">
                        <div class="circle-item circle-item--socials circle-item--instagram">
                            <a href="https://www.instagram.com/mr.mish_/" class="circle-item__link">
                                <i class="circle-item__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-in"></use>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__location">
                <div class="circle-list">
                    <div class="circle-list__item">
                        <div class="circle-item circle-item--location" data-location>
                            <a href="#" class="circle-item__link" data-location-confirm-open>
                                <i class="circle-item__icon">
                                    <svg class="i-icon i-icon--location">
                                        <use xlink:href="#icon-point"></use>
                                    </svg>
                                </i>
                                <span class="circle-item__label">Александровск-Сахалинский</span>
                            </a>
                            <div class="modal-location" data-modal-location="confirm">
                                <button class="modal-location__close" aria-label="Закрыть окно" data-modal-location-close></button>
                                <div class="modal-location__head">
                                    <div class="modal-location-title">
                                        <div class="modal-location-title__label">Ваш город:</div>
                                        <div class="modal-location-title__city">Москва</div>
                                    </div>
                                </div>
                                <div class="modal-location__body">
                                    <div class="modal-location__buttons">
                                        <div class="buttons-list">
                                            <div class="buttons-list__item">
                                                <a href="#" class="btn" data-modal-location-close>Да, верно</a>
                                            </div>
                                            <div class="buttons-list__item">
                                                <a href="#" class="btn btn--black" data-location-select-open>Нет, выбрать другой</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-location" data-modal-location="select">
                                <button class="modal-location__close" aria-label="Закрыть окно" data-modal-location-close></button>
                                <div class="modal-location__head">
                                    <div class="modal-location-title">
                                        <div class="modal-location-title__label">Введите<br> название города:</div>
                                    </div>
                                    <div class="modal-location__form">
                                        <form action="" class="modal-location-form">
                                            <input class="input" type="text" data-location-search>
                                            <button class="submit">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-search"></use>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-location__body" data-location-list>
                                    <ul class="modal-location-list">
                                        <% const list = [
                                            {
                                                title: 'Краснодар'
                                            },
                                            {
                                                title: 'Москва'
                                            },
                                            {
                                                title: 'Санкт-Петербург'
                                            },
                                            {
                                                title: 'Ростов-На-Дону'
                                            },
                                            {
                                                title: 'Сочи'
                                            },
                                            {
                                                title: 'Александровск-Сахалинский'
                                            }
                                        ]%>
                                        <% list.forEach(function (item) { %>
                                            <li class="modal-location-list__item">
                                                <a href="#" class="modal-location-list__link">
                                                    <i class="modal-location-list__icon">
                                                        <svg class="i-icon i-icon--location">
                                                            <use xlink:href="#icon-point"></use>
                                                        </svg>
                                                    </i>
                                                    <span><%= item.title%></span>
                                                </a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__contacts">
            <div class="header__call" data-header="call">
                <div class="request-call" data-move="call">
                    <a href="#call" class="request-call__link" data-modal-open>
                        <i class="circle-item__icon">
                            <svg class="i-icon">
                                <use xlink:href="#icon-phone-2"></use>
                            </svg>
                        </i>
                        <span>Заказать звонок</span>
                    </a>
                </div>
            </div>
            <div class="header__phone" data-header="phone">
                <div class="phone" data-move="phone">
                    <a class="phone__link phone__link--small" href="tel:88002015441">8 800 201-54-41</a>
                    <div class="phone__label">Бесплатно по РФ</div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle__center" data-header="logo">
        <a href="#" class="header-logo" data-move="logo">
            <img src="./images/svg/logo.svg" alt="" class="header-logo__img">
        </a>
    </div>
    <div class="header-middle__right">
        <div class="header__search" data-header="search">
            <div class="search" data-move="search" data-search>
                <form class="search__form">
                    <div class="search__block">
                        <input type="text" class="input placeholder-uppercase" placeholder="Поиск по сайту" data-search-input>
                        <input type="submit" class="search__submit" value="Поиск">
                    </div>
                </form>
                <%- require("./elements/search-tooltip.ejs")() %>
            </div>
        </div>
        <div class="header__profile" data-header="profile">
            <div class="circle-list" data-move="profile">
                <div class="circle-list__item">
                    <div class="circle-item circle-item--search">
                        <a href="#" class="circle-item__link" data-mobile-search>
                            <i class="circle-item__icon">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-search-profile"></use>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="circle-list__item">
                    <div class="circle-item circle-item--user">
                        <a href="#" class="circle-item__link">
                            <i class="circle-item__icon">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-user"></use>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="circle-list__item">
                    <div class="circle-item circle-item--basket">
                        <a href="#" class="circle-item__link">
                            <i class="circle-item__icon">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-basket"></use>
                                </svg>
                            </i>
                        </a>
                        <span>5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>