<nav class="header-catalog" data-header="catalog">
    <ul class="header-catalog-list" data-move="catalog">
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_1.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose" data-picture-hover="repose">
                    <img src="./images/svg/catalog_1_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover" data-picture-hover="hover">
                </picture>
                <span>Мягкие игрушки</span>
            </a>
            <ul class="header-sub-catalog-list">
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел мягкие игрушки</a>
                </li>
            </ul>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_2.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_2_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Одежда для игрушек</span>
            </a>
            <ul class="header-sub-catalog-list">
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел одежда для игрушек</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел одежда для игрушек</a>
                </li>
                <li class="header-sub-catalog-list__item">
                    <a href="#" class="header-sub-catalog-list__link">Раздел одежда для игрушек</a>
                </li>
            </ul>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_3.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_3_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Обувь для игрушек</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_4.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_4_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Рюкзаки и сумки</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_5.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_5_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Аксессуары</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_6.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_6_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Ароматы</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_7.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_7_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Звуки и свечение</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_8.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_8_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Double KIDS</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_9.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_9_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Наборы</span>
            </a>
        </li>
        <li class="header-catalog-list__item">
            <a href="#" class="header-catalog-list__link is-hover" data-picture-hover>
                <picture class="directory-item-picture directory-item-picture--small">
                    <img src="./images/svg/catalog_10.svg" alt="" class="directory-item-picture__img directory-item-picture__img--repose">
                    <img src="./images/svg/catalog_10_hover.svg" alt="" class="directory-item-picture__img directory-item-picture__img--hover">
                </picture>
                <span>Sale</span>
            </a>
        </li>
    </ul>
</nav>