<div class="modal modal--subscription">
    <div class="modal__head">
        <div class="modal__title modal__title--small">Подпишитесь на рассылку</div>
        <div class="modal__desc modal__desc--small">Узнавайте первым об акциях, новинках и распродажах</div>
    </div>
    <div class="modal__body">
        <form class="modal__form modal__form--small" action="" data-form>
            <div class="form-row">
                <div class="form-col">
                    <label class="label">
                        <input type="text" class="input" data-input-required="email">
                        <span class="placeholder">
                            <span>Ваш e-mail</span>
                            <span class="required">*</span>
                        </span>
                        <button type="submit" class="submit-arrow">
                            <svg class="i-icon">
                                <use xlink:href="#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>