<div class="order-shops">
    <div class="order-shops__head">
        <div class="h4">Выберите магазин</div>
    </div>
    <div class="order-shops-list">
        <% const list = [
            {
                text: 'Выбрать'
            },
            {
                text: 'Выбран',
                active: true
            },
            {
                text: 'Выбрать'
            },
            {
                text: 'Выбрать'
            },
            {
                text: 'Выбрать'
            },
            {
                text: 'Выбрать'
            },
            {
                text: 'Выбрать'
            }
        ]  %>
        <% list.forEach(function (item) { %>
            <div class="order-shops-list__item">
            <div class="order-shops-item">
                <div class="order-shops-item__col">
                    <div class="icon-circle">
                        <svg class="i-icon">
                            <use xlink:href="#icon-point"></use>
                        </svg>
                    </div>
                </div>
                <div class="order-shops-item__col">
                    <div class="order-shops-item__name">Бутик радости №1</div>
                    <div class="order-shops-item__point">ТРЦ Принц Плаза, 2 этаж, ул. Профсоюзная, 129 А, метро Теплый Стан</div>
                </div>
                <div class="order-shops-item__col">
                    <div class="order-shops-item__phone">
                        <div class="shops-item-phone">
                            <a href="tel:+79257739057" class="shops-item-phone__link">+7 (925) 773-90-57</a>
                        </div>
                    </div>
                    <div class="order-shops-item__mode">
                        <div class="shops-item__mode">Ежедневно с 10:00 до 22:00</div>
                    </div>
                </div>
                <div class="order-shops-item__col">
                    <a href="#" class="btn <%= item.active ? 'active' : '' %> btn--active"><%= item.text %></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>