<div class="payment">
    <div class="payment-label">
        <i class="payment-label__icon">
            <svg class="i-icon">
                <use xlink:href="#icon-payment-label"></use>
            </svg>
        </i>
        <div class="payment-label__text">Принимаем к оплате</div>
    </div>
    <div class="payment-list">
        <% const list = [
            {
                img: './images/icons/visa.png'
            },
            {
                img: './images/icons/master_card.png'
            },
            {
                img: './images/icons/mip.png'
            },
            {
                img: './images/icons/jcb.png'
            },
            {
                img: './images/icons/g_pay.png'
            },
            {
                img: './images/icons/a_pay.png'
            }

        ]%>
        <% list.forEach(function (item) { %>
            <div class="payment-list__item">
                <div class="payment-item">
                    <img src="<%= item.img %>" alt="">
                </div>
            </div>
        <% }) %>
    </div>
</div>