<div class="shops-list shops-list--margin-top">
    <div class="shops-list__item shops-list__item--small">
        <div class="shops-item">
            <picture class="shops-item-picture">
                <img src="./images/content/shops_item_2.jpg" alt="">
            </picture>
            <div class="shops-item__block">
                <div class="shops-item__name">Бутик Радости №2</div>
                <div class="shops-item__address">
                    ТРЦ Принц Плаза, 2 этаж <br>
                    ул. Профсоюзная, 129А <br>
                    м. Теплый Стан <br>
                    <a href="#scheme2" class="shops-item-toggle__link" data-modal-open>Как найти</a>
                </div>
                <div class="shops-item-phone">
                    <a href="tel:+79259496325" class="shops-item-phone__link">+7 (925) 949-63-25</a>
                </div>
                <div class="shops-item__schedule">Ежедневно <br>с 10:00 до 22:00</div>
            </div>
        </div>
    </div>
    <div class="shops-list__item shops-list__item--small">
        <div class="shops-item">
            <picture class="shops-item-picture">
                <img src="./images/content/shops_item_3.jpg" alt="">
            </picture>
            <div class="shops-item__block">
                <div class="shops-item__name">Бутик Радости №3</div>
                <div class="shops-item__address">
                    ТРЦ ЕВРОПОЛИС, 2 уровень<br>
                    проспект Мира, 211, корпус 2 <br>
                    <a href="#scheme3" class="shops-item-toggle__link" data-modal-open>Как найти</a>
                </div>
                <div class="shops-item-phone">
                    <a href="tel:+79258086237" class="shops-item-phone__link">+7 (925) 808-62-37</a>
                </div>
                <div class="shops-item__schedule">Ежедневно <br>с 10:00 до 22:00</div>
            </div>
        </div>
    </div>
    <div class="shops-list__item shops-list__item--small">
        <div class="shops-item">
            <picture class="shops-item-picture">
                <img src="./images/content/shops_item_4.jpg" alt="">
            </picture>
            <div class="shops-item__block">
                <div class="shops-item__name">Бутик Радости №4</div>
                <div class="shops-item__address">
                    ТРК Щука, 4 этаж <br>
                    ул. Щукинская, 42. <br>
                    м. Щукинская <br>
                    <a href="#scheme4" class="shops-item-toggle__link" data-modal-open>Как найти</a>
                </div>
                <div class="shops-item-phone">
                    <a href="tel:+79257739235" class="shops-item-phone__link">+7 (925) 773-92-35</a>
                </div>
                <div class="shops-item__schedule">Ежедневно <br>с 10:00 до 22:00</div>
            </div>
        </div>
    </div>
    <div class="shops-list__item shops-list__item--small">
        <div class="shops-item">
            <picture class="shops-item-picture">
                <img src="./images/content/shops_item_5.jpg" alt="">
            </picture>
            <div class="shops-item__block">
                <div class="shops-item__name">Бутик Радости №5</div>
                <div class="shops-item__address">
                    ТРЦ Zеленопарк, вход Н <br>
                    пгт Ржавки, Московская <br>
                    область, 2-й микрорайон, ст20 <br>
                    <a href="#scheme5" class="shops-item-toggle__link" data-modal-open>Как найти</a>
                </div>
                <div class="shops-item-phone">
                    <a href="tel:+79257739057" class="shops-item-phone__link">+7 (925) 773-90-57</a>
                </div>
                <div class="shops-item__schedule">Ежедневно <br>с 10:00 до 22:00</div>
            </div>
        </div>
    </div>
    <div class="shops-list__item shops-list__item--small">
        <div class="shops-item">
            <picture class="shops-item-picture">
                <img src="./images/content/shops_item_6.jpg" alt="">
            </picture>
            <div class="shops-item__block">
                <div class="shops-item__name">Бутик Радости №6</div>
                <div class="shops-item__address">
                    МФК Кунцево Плаза, 4 этаж <br>
                    ул. Ярцевская, 19 <br>
                    <a href="#scheme6" class="shops-item-toggle__link" data-modal-open>Как найти</a>
                </div>
                <div class="shops-item__schedule">Ежедневно <br>с 10:00 до 22:00</div>
            </div>
        </div>
    </div>
    <div class="shops-list__item shops-list__item--small">
        <div class="shops-item">
            <picture class="shops-item-picture">
                <img src="./images/content/shops_item_7.jpg" alt="">
            </picture>
            <div class="shops-item__block">
                <div class="shops-item__name">Бутик Радости №7</div>
                <div class="shops-item__address">
                    ТРЦ Каширская Плаза, 3 этаж, <br>
                    Каширское ш., 61Г<br>
                    <a href="#scheme7" class="shops-item-toggle__link" data-modal-open>Как найти</a>
                </div>
                <div class="shops-item__schedule">Ежедневно <br>с 10:00 до 22:00</div>
            </div>
        </div>
    </div>
</div>