<section class="section-assemble">
    <div id="assembleElement1" class="assemble-element">
        <svg class="i-icon">
            <use xlink:href="#icon-assembleElement1"></use>
        </svg>
    </div>
    <div id="assembleElement2" class="assemble-element">
        <svg class="i-icon">
            <use xlink:href="#icon-assembleElement2"></use>
        </svg>
    </div>
    <div id="assembleElement3" class="assemble-element">
        <svg class="i-icon">
            <use xlink:href="#icon-assembleElement3"></use>
        </svg>
    </div>
    <div class="container">
        <div class="heart-block heart-block--assemble">
            <div class="heart-block__heart">
                <svg class="i-icon icon-heart">
                    <use xlink:href="#icon-heart"></use>
                </svg>
                <svg class="i-icon icon-mish">
                    <use xlink:href="#icon-title-mish"></use>
                </svg>
            </div>
            <div class="heart-block__content">
                <div class="heart-block__title">
                    <div class="h1 title-border">Реквезиты</div>
                </div>
                <div class="heart-block__desc">
                    <p>
                        ИП Александров Александр Александрович<br>
                        ОГРН ИП 1234567891234567<br>
                        ИНН123456789123<br>
                        123456, г. Москва, пр-т Ленинский, д. 123, кв. 32<br>
                        Р/сч: 40802810412345678912<br>
                        Филиал № 12345 Банка ВТБ 24 (ЗАО<br>
                        к/сч 301018100300000000811<br>
                        БИК 044030811<br>
                        Доверенность 77АБ 123456 от 01.01.2014<br>
                        выдана Петрову Петру Петровичу<br>
                        Фактический адрес: г. Москва, ул. В. Петренко, д. 16 (рынок<br>
                        «Мега») магазин, г. Москва, ул. Н. Васильева, д.145<br>
                        (производство, склад)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>