<section class="section-banner" style="background-image: url(../images/content/banner.jpg)">
    <div class="banner">
        <div class="banner__head">
            <div id="bannerElement1" class="banner-element">
                <svg class="i-icon">
                    <use xlink:href="#icon-bannerElement1"></use>
                </svg>
            </div>
            <div id="bannerElement3" class="banner-element">
                <svg class="i-icon">
                    <use xlink:href="#icon-bannerElement3"></use>
                </svg>
            </div>
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="h1">О бутике радости <br>Mr. Mish</div>
        </div>
        <div class="banner__content">
            <div id="bannerElement2" class="banner-element">
                <svg class="i-icon">
                    <use xlink:href="#icon-bannerElement2"></use>
                </svg>
            </div>
            <p>
                Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко. И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук.
            </p>
        </div>
        <div class="banner__button">
            <a href="#" class="btn" download>Скачать каталог</a>
        </div>
    </div>
</section>