<section class="section-birthday"
         style="background-image: url(../images/bg/bg-birthday.png)"
<!--         data-bottom-top="background-position: 50% 0%"-->
<!--         data-top-bottom="background-position: 50% -50%"-->
    >
    <div class="container">
        <div class="heart-block heart-block--birthday">
            <div class="heart-block__heart">
                <picture class="icon-heart">
                    <img src="./images/svg/heart-birthday.svg" alt="">
                </picture>
                <svg class="icon-mish i-icon">
                    <use xlink:href="#icon-title-mish"></use>
                </svg>
            </div>
            <div class="heart-block__content">
                <div class="heart-block__title">
                    <div class="h1 title-border">Твой день рождения</div>
                </div>
                <div class="heart-block__desc">
                    <p>
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                    </p>
                </div>
                <div class="heart-block__bottom">
                    <div class="link-arrow">
                        <a href="#" class="link-arrow__link">
                            <span class="link-arrow__label">Хочу заказать!</span>
                            <i class="link-arrow__circle">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-arrow-right"></use>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>