<section class="section-card bg-gradient">
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <h1 class="h1">Мишка</h1>
            </div>
        </div>
        <div id="sliderCard" class="slider-card">
            <div class="slider-catalog__container swiper-container">
                <div class="slider-catalog__wrapper swiper-wrapper">
                    <div class="slider-catalog__slide swiper-slide">
                        <div class="card-item">
                            <div class="card-item__top">
                                <a href="./images/content/toy.png" class="card-item__link" data-fancybox="card">
                                    <div class="card-item-picture">
                                        <img src="./images/svg/catalog-heart.svg" alt="" class="card-item-picture__bg">
                                        <img src="./images/content/toy.png" alt="" class="card-item-picture__img">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-catalog__slide swiper-slide">
                        <div class="card-item">
                            <div class="card-item__top">
                                <a href="./images/content/toy.png" class="card-item__link" data-fancybox="card">
                                    <div class="card-item-picture">
                                        <img src="./images/svg/catalog-heart.svg" alt="" class="card-item-picture__bg">
                                        <img src="./images/content/toy.png" alt="" class="card-item-picture__img">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-card__content">
                <div class="icon-info-list">
                    <div class="icon-info-list__item">
                        <div class="icon-info icon-info--hit">Хит</div>
                    </div>
                    <div class="icon-info-list__item">
                        <div class="icon-info icon-info--discount">-15%</div>
                    </div>
                    <div class="icon-info-list__item">
                        <div class="icon-info icon-info--new">New</div>
                    </div>
                </div>
                <div class="swiper-button-prev slider-card__swiper-button">
                    <svg class="i-icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next slider-card__swiper-button">
                    <svg class="i-icon">
                        <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                </div>
                <div class="slider-catalog__pagination swiper-pagination"></div>
                <div class="card-item__bottom">
                    <div class="card-item__article">Арт: 123456</div>
                    <div class="card-item__buy">
                        <a href="#" class="btn-basket-circle btn-basket-circle--black">
                            <svg class="i-icon">
                                <use xlink:href="#icon-basket-catalog"></use>
                            </svg>
                        </a>
                        <div class="card-item__price">
                            <div class="price price--big">
                                <div class="price__value catalog-item-price__value--sale">1200 р</div>
                                <div class="price__discount">999 р</div>
                            </div>
                            <div class="card-item__note">
                                <div class="card-item-note">Скидка действует до 10.05.2020</div>
                                <!--
                                <a href="#coming" class="search-tooltip-item__coming search-tooltip-item__coming--big" data-modal-open="">Сообщить о поступлении</a>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="card-item__status">В наличии</div>
                </div>
            </div>
        </div>

        <div class="card-kit">
            <div class="card-kit__head">
                <div class="h2 title-border">Популярный набор</div>
            </div>
            <div class="card-kit__body">
                <div class="catalog-list">
                    <% const list = [
                        {
                            img: '',
                            title: ''
                        },
                        {
                            img: '',
                            title: ''
                        },
                        {
                            img: '',
                            title: ''
                        }
                    ] %>
                    <% list.forEach(function (item) { %>
                        <div class="catalog-list__item catalog-list__item--complete">
                            <div class="catalog-item">
                                <div class="icon-info-list">
                                    <div class="icon-info-list__item">
                                        <div class="icon-info icon-info--hit">Хит</div>
                                    </div>
                                </div>
                                <div class="catalog-item__top">
                                    <a href="#" class="catalog-item__link">
                                        <div class="catalog-item__article">Арт: 123456</div>
                                        <div class="catalog-item-picture">
                                            <img src="./images/svg/catalog-heart.svg" alt="" class="catalog-item-picture__bg">
                                            <img src="./images/content/slider_item_1.png" alt="" class="catalog-item-picture__img">
                                        </div>
                                        <div class="catalog-item__status">В наличии</div>
                                        <div class="catalog-item__name">Мишка</div>
                                    </a>
                                </div>
                                <div class="catalog-item__bottom">
                                    <div class="catalog-item-price">
                                        <div class="catalog-item-price__value">1 000 р</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                    <div class="catalog-list__item catalog-list__item--complete">
                        <div class="catalog-complete">
                            <div class="catalog-complete__icon">
                                <div class="icon-smooth"></div>
                            </div>
                            <div class="catalog-complete__price">
                                <div class="price price--big">
                                    <div class="price__value">1 500 р</div>
                                </div>
                            </div>
                            <div class="catalog-complete__basket">
                                <a href="#" class="btn-basket-circle">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-basket-catalog"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>