<section class="section-card bg-gradient">
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <h1 class="h1">Звук "Здравствуй, дружок!"</h1>
            </div>
        </div>
        <div id="sliderCard" class="slider-card">
            <div class="slider-catalog__container swiper-container">
                <div class="slider-catalog__wrapper swiper-wrapper">
                    <div class="slider-catalog__slide swiper-slide">
                        <div class="card-item card-item--sound">
                            <div class="card-item__top">
                                <a href="./images/content/toy.png" class="card-item__link" data-card-audio-play>
                                    <div class="card-item-picture">
                                        <img src="./images/svg/catalog-heart.svg" alt="" class="card-item-picture__bg">
                                        <img src="./images/svg/sound-frend.svg" alt="" class="card-item-picture__img">
                                    </div>
                                    <audio class="card-item__audio" data-card-audio>
                                        <source src="./audio/sound.mp3" type="audio/mpeg">
                                    </audio>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-card__content">
                    <div class="swiper-button-prev slider-card__swiper-button">
                        <svg class="i-icon">
                            <use xlink:href="#icon-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-next slider-card__swiper-button">
                        <svg class="i-icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </div>
                    <div class="slider-catalog__pagination swiper-pagination"></div>
                    <div class="card-item__bottom">
                        <div class="card-item__article">Арт: 123456</div>
                        <div class="card-item__buy">
                            <a href="#" class="btn-basket-circle btn-basket-circle--orange">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-basket-catalog"></use>
                                </svg>
                            </a>
                            <div class="card-item__price">
                                <div class="price price--big">
                                    <div class="price__value">200 р</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-item__status">В наличии</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>