<section class="section bg-beige-bright">
    <div id="stocksElement1" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement1"></use>
        </svg>
    </div>
    <div id="stocksElement2" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement2"></use>
        </svg>
    </div>
    <div id="stocksElement3" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement3"></use>
        </svg>
    </div>
    <div id="stocksElement4" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement4"></use>
        </svg>
    </div>
    <div id="stocksElement5" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement5"></use>
        </svg>
    </div>
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <div class="h1">Контакты</div>
            </div>
        </div>
        <div class="office">
            <div class="office-list">
                <div class="office-list__item">
                    <div class="office-item office-item--main">
                        <div class="office-item__content">
                            <div class="office-item__title">Основной офис</div>
                            <div class="list-contacts">
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label list-contacts-item__label--big">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="mailto:support@mr.mish.ru" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon i-icon--mail">
                                                    <use xlink:href="#icon-mail"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">support@mr.mish.ru</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-period"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-point"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">
                                                350011, Россия, Краснодарский край, <br>
                                                г. Краснодар, ул. Старокубанская, <br>
                                                2/23, корп. 1, пом. 17-23
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="office-item__picture" style="background-image: url(../images/content/office.jpg)"></div>
                    </div>
                </div>
                <div class="office-list__item office-list__item--6">
                    <div class="office-item">
                        <div class="office-item__content">
                            <div class="office-item__title">Интернет магазин</div>
                            <div class="list-contacts">
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="mailto:support@mr.mish.ru" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon i-icon--mail">
                                                    <use xlink:href="#icon-mail"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">support@mr.mish.ru</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-period"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="office-list__item office-list__item--6">
                    <div class="office-item">
                        <div class="office-item__content">
                            <div class="office-item__title">Отдел продаж</div>
                            <div class="list-contacts">
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="mailto:support@mr.mish.ru" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon i-icon--mail">
                                                    <use xlink:href="#icon-mail"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">support@mr.mish.ru</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-period"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="office-list__item office-list__item--6">
                    <div class="office-item">
                        <div class="office-item__content">
                            <div class="office-item__title">Отдел кадров</div>
                            <div class="list-contacts">
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="mailto:support@mr.mish.ru" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon i-icon--mail">
                                                    <use xlink:href="#icon-mail"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">support@mr.mish.ru</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-period"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="office-list__item office-list__item--6">
                    <div class="office-item">
                        <div class="office-item__content">
                            <div class="office-item__title">Отдел рекламы</div>
                            <div class="list-contacts">
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-phone"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="mailto:support@mr.mish.ru" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon i-icon--mail">
                                                    <use xlink:href="#icon-mail"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">support@mr.mish.ru</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-contacts__item">
                                    <div class="list-contacts-item">
                                        <a href="tel:+74951558592" class="list-contacts-item__link">
                                            <div class="list-contacts-item__icon">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-period"></use>
                                                </svg>
                                            </div>
                                            <div class="list-contacts-item__label">+7 (495) 155-85-92</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>