<section class="section-contacts-modal bg-gradient">
    <div class="container">
        <div class="modal modal--subscription">
            <div class="modal__head">
                <div class="modal__title">Связаться с нами</div>
                <div class="modal__desc">У вас есть вопросы? напишите нам и наш специалист свяжется с вами</div>
            </div>
            <div class="modal__body">
                <form class="modal__form modal__form--big" action="">
                    <div class="form-row">
                        <div class="form-col form-col--35">
                            <label class="label">
                                <input type="text" class="input input--required" placeholder="Имя" required>
                            </label>
                        </div>
                        <div class="form-col form-col--45">
                            <label class="label">
                                <input type="text" class="input" placeholder="E-mail">
                            </label>
                        </div>
                        <div class="form-col form-col--35">
                            <label class="label">
                                <input type="text" class="input input--required" placeholder="Телефон" required="phone">
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col">
                            <label class="label">
                                <textarea type="text" class="textarea" placeholder="Сообщение"></textarea>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal__bottom modal__bottom--big">
                <div class="modal__checkbox">
                    <div class="checkbox">
                        <label class="checkbox__label">
                            <input class="checkbox__input" type="checkbox">
                            <div class="checkbox__emulator">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-checked"></use>
                                </svg>
                            </div>
                            <div class="checkbox__text">
                                <span>
                                    Нажимая кнопку “Отправить” я соглашаюсь на обработку моих персональных данных в соответствии с
                                </span>
                                <a href="">Условиями</a>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="modal__buttons">
                    <input type="submit" class="btn btn--orange" value="Отправить">
                </div>
            </div>
        </div>
    </div>
</section>