
<section class="section bg-beige-bright">
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <h1 class="h1 title-border">Мягкие игрушки</h1>
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--3 filter-wrapper" data-desktop="bx-filter">
                <div class="sub-directory" data-desktop="sub-directory">
                    <%- require("../components/elements/sub-directory.ejs")() %>
                </div>

                <%- require("../components/elements/bx-filter.ejs")() %>
            </div>
            <div class="grid__col grid__col--9">
                <div class="content-description">
                    <p>
                        Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                    </p>
                </div>
                <div class="sub-directory" data-mobile="sub-directory"></div>
                <div class="sorting-wrapper">
                    <div class="toggle-filter">
                        <button class="toggle-filter__btn" type="button" data-mobile-filter-open>Фильтр</button>
                    </div>
                    <div class="sorting" data-sorting>
                        <div class="sorting-select">
                            <div class="sorting-select__label">Сортировать по</div>
                            <div class="sorting-select__value">
                                <span data-sorting-value>Популярности</span>
                                <svg class="i-icon">
                                    <use xlink:href="#icon-select"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="sorting-dropdown" data-sorting-dropdown>
                            <ul class="sorting-dropdown-list">
                                <li class="sorting-dropdown-list__item current">
                                    <a href="#" class="sorting-dropdown-list__link" data-sorting-dropdown-option="популярности">По популярности</a>
                                </li>
                                <li class="sorting-dropdown-list__item">
                                    <a href="#" class="sorting-dropdown-list__link" data-sorting-dropdown-option="возрастанию цены">По возрастанию цены</a>
                                </li>
                                <li class="sorting-dropdown-list__item">
                                    <a href="#" class="sorting-dropdown-list__link" data-sorting-dropdown-option="убыванию цены">По убыванию цены</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog">
                    <div class="catalog-list">
                        <% const list = [
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            },
                            {
                                img: '',
                                title: ''
                            }
                        ] %>
                        <% list.forEach(function (item) { %>
                            <div class="catalog-list__item catalog-list__item--4">
                                <div class="catalog-item">
                                    <div class="icon-info-list">
                                        <div class="icon-info-list__item">
                                            <div class="icon-info icon-info--hit">Хит</div>
                                        </div>
                                    </div>
                                    <div class="catalog-item__top">
                                        <a href="#" class="catalog-item__link">
                                            <div class="catalog-item__article">Арт: 123456</div>
                                            <div class="catalog-item-picture">
                                                <img src="./images/svg/catalog-heart.svg" alt="" class="catalog-item-picture__bg">
                                                <img src="./images/content/slider_item_1.png" alt="" class="catalog-item-picture__img">
                                            </div>
                                            <div class="catalog-item__status">В наличии</div>
                                            <div class="catalog-item__name">Мишка</div>
                                        </a>
                                    </div>
                                    <div class="catalog-item__bottom">
                                        <div class="catalog-item-price">
                                            <div class="catalog-item-price__value">1 000 р</div>
                                        </div>
                                        <a href="#" class="catalog-item__basket">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-basket-catalog"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="catalog__show">
                        <button class="button-circle-plus" type="button"></button>
                    </div>
                </div>
                <%- require("../components/elements/pagination.ejs")() %>
            </div>
        </div>
    </div>
</section>