<section id="#hero" class="hero" data-page-slider-before>
    <div class="hero__media">
        <div class="picture">
            <img class="picture__img" alt="" src="./images/content/hero.jpg">
        </div>
        <div class="player" data-player>
            <video data-player-video autoplay muted loop>
                <source src="./video/video.mp4">
            </video>
        </div>
    </div>
    <div class="hero__body">
        <div id="heroElement1" class="hero-element" data-animate>
            <svg class="i-icon">
                <use xlink:href="#icon-heroElement1"></use>
            </svg>
        </div>
        <div id="heroElement2" class="hero-element" data-animate>
            <svg class="i-icon">
                <use xlink:href="#icon-heroElement2"></use>
            </svg>
        </div>
        <div id="heroElement3" class="hero-element" data-animate>
            <svg class="i-icon">
                <use xlink:href="#icon-heroElement3"></use>
            </svg>
        </div>
        <div class="hero__logo">
            <div class="logo" data-animate="hero-logo">
                <a href="/" class="logo__link">
                    <img src="./images/svg/logo.svg" alt="" class="logo__img">
                </a>
            </div>
        </div>
    </div>
    <div class="hero__footer">
        <div class="hero-scroll">
            <a href="#pageSlider" class="hero-scroll__link" data-hero-scroll data-animate>
                <div class="hero-scroll__text">Создай свою игрушку</div>
                <span class="hero-scroll__circle">
                    <svg class="i-icon">
                        <use xlink:href="#icon-scroll"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>