<section class="bg-beige-bright">
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <div class="h1">Оформит заказ</div>
            </div>
        </div>
    </div>
</section>