<section class="section-order">
    <div class="order-form">
        <form id="orderEntity" action="" class="form">
            <div class="container container--min">
                <div class="order-form-item">
                    <div class="order-form-item__head">
                        <div class="order-form-item__title title-border">Тип пользователя</div>
                    </div>
                    <div class="order-form-item__body">
                        <div class="checkbox-list checkbox-list--center">
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big checkbox--radio">
                                    <label class="checkbox__label">
                                        <input class="radio__input" type="radio" name="PERSON_TYPE" value="1" checked>
                                        <div class="radio__emulator"></div>
                                        <div class="checkbox__text">
                                            <span>Физическое лицо</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big checkbox--radio">
                                    <label class="checkbox__label">
                                        <input class="radio__input" type="radio" name="PERSON_TYPE" value="2">
                                        <div class="radio__emulator"></div>
                                        <div class="checkbox__text">
                                            <span>Юридическое лицо</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-form-item">
                    <div class="order-form-item__head">
                        <div class="order-form-item__title title-border">Ваш город</div>
                    </div>
                    <div class="order-form-item__body">
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <input type="text" class="input input--required" placeholder="Укажите город" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-form-item">
                    <div class="order-form-item__head">
                        <div class="order-form-item__title title-border">Способ доставки</div>
                    </div>
                    <div class="order-form-item__body">
                        <div class="checkbox-list">
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox" checked>
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Самовывоз <br>из магазина</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Доставка <br>курьером СДЭК</span>
                                            <p class="checkbox__text-note">400 р</p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Доставка в пункт <br>выдачи СДЭК</span>
                                        </div>
                                        <div class="checkbox__text checkbox__text--small checkbox__text--margin-top">
                                            <span>Заказ доставят в <br>удобный для Вас пункт выдачи</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Доставка <br>почтой России</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-form-item">
                    <div class="order-form-item__head">
                        <div class="order-form-item__title title-border">Способ оплаты</div>
                    </div>
                    <div class="order-form-item__body">
                        <div class="checkbox-list">
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox" checked>
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Оплата <br>при получении</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Счет <br>на оплату</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox-list__item">
                                <div class="checkbox checkbox--big">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Оплата <br>банковской картой</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-form-item">
                    <div class="order-form-item__head">
                        <div class="order-form-item__title title-border">Данные покупателя</div>
                    </div>
                    <div class="order-form-item__body">
                        <div class="form-row">
                            <div class="form-col form-col--6">
                                <label class="label">
                                    <input type="text" class="input input--required" placeholder="Фамилия" required>
                                </label>
                            </div>
                            <div class="form-col form-col--6">
                                <label class="label">
                                    <input type="text" class="input input--required" placeholder="Имя" required>
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col form-col--6">
                                <label class="label">
                                    <input type="text" class="input" placeholder="Отчество">
                                </label>
                            </div>
                            <div class="form-col form-col--6">
                                <label class="label">
                                    <input type="text" class="input input--required" placeholder="E-mail" required="">
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col form-col--6">
                                <label class="label">
                                    <input type="text" class="input" placeholder="Наименование организации">
                                </label>
                            </div>
                            <div class="form-col form-col--3">
                                <label class="label">
                                    <input type="text" class="input input--required" placeholder="ИНН" required="">
                                </label>
                            </div>
                            <div class="form-col form-col--3">
                                <label class="label">
                                    <input type="text" class="input" placeholder="БИК банка">
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-col form-col--6">
                                <label class="label">
                                    <input type="text" class="input" placeholder="Расчетный счет">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-form-item">
                    <div class="order-form-item__head">
                        <div class="order-form-item__title title-border">Комментарий к заказу</div>
                    </div>
                    <div class="order-form-item__body">
                        <div class="form-row">
                            <div class="form-col">
                                <label class="label">
                                    <textarea type="text" class="input" placeholder="Ваш комментарий"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="section-total bg-beige-bright">
    <div class="container">
        <div class="total">
            <fieldset class="fieldset" form="orderEntity">
                <div class="total-list">
                    <div class="total-list__item">
                        <div class="total-item">
                            <div class="total-item__label">Стоимость товаров:</div>
                            <div class="total-item__price">2 400 р</div>
                        </div>
                    </div>
                    <div class="total-list__item">
                        <div class="total-item">
                            <div class="total-item__label">Стоимость доставки:</div>
                            <div class="total-item__price">400 р</div>
                        </div>
                    </div>
                    <div class="total-list__item">
                        <div class="total-item">
                            <div class="total-item__label">Стоимость заказа:</div>
                            <div class="total-item__price color-orange">2 800 р</div>
                        </div>
                    </div>
                </div>
                <div class="total-form">
                    <div class="total-form__checkbox">
                        <div class="checkbox">
                            <label class="checkbox__label">
                                <input class="checkbox__input" type="checkbox">
                                <div class="checkbox__emulator">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-checked"></use>
                                    </svg>
                                </div>
                                <div class="checkbox__text checkbox__text--small">
                                <span>
                                    Нажимая кнопку “Отправить” я соглашаюсь на обработку моих персональных данных в соответствии с
                                </span>
                                    <a href="">Условиями</a>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="total-form__buttons">
                        <input type="submit" class="btn btn--orange" value="Оформить заказ">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>