<section class="seo">
    <div id="seoElement1" class="seo-element">
        <svg class="i-icon">
            <use xlink:href="#icon-seo-1"></use>
        </svg>
    </div>
    <div id="seoElement2" class="seo-element">
        <svg class="i-icon">
            <use xlink:href="#icon-seo-2"></use>
        </svg>
    </div>
    <div id="seoElement3" class="seo-element">
        <svg class="i-icon">
            <use xlink:href="#icon-seo-3"></use>
        </svg>
    </div>
    <div class="container container--min">
        <div class="seo__block">
            <div class="seo__content">
                <h2>Mr. Mish бутик радости</h2>
                <p>
                    Это не просто очередной магазин, а проект, возникший из детских желаний и фантазий. Особенность наших игрушек в том, что ребенок может их сделать сам! Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                </p>
                <p>
                    И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук. Дать имя и получить свидетельство о рождении, через полгода и паспорт. Mr.Mish причина для радости! Это не просто очередной магазин, а проект, возникший из детских желаний и фантазий.
                </p>
            </div>
        </div>
    </div>
</section>