<section class="section  bg-beige-bright">
    <div id="stocksElement1" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement1"></use>
        </svg>
    </div>
    <div id="stocksElement2" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement2"></use>
        </svg>
    </div>
    <div id="stocksElement3" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement3"></use>
        </svg>
    </div>
    <div id="stocksElement4" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement4"></use>
        </svg>
    </div>
    <div id="stocksElement5" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement5"></use>
        </svg>
    </div>
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <div class="h1">Акция скидка в честь дня рождения</div>
            </div>
        </div>
        <div class="stocks-editor">
            <picture class="stocks-editor-picture">
                <img src="./images/content/stocks.jpg" alt="" class="stocks-editor-picture__img">
            </picture>
            <div class="stocks-editor__content">
                <div class="stocks-editor-date">
                    <svg class="i-icon">
                        <use xlink:href="#icon-period"></use>
                    </svg>
                    <div class="stocks-editor-date__desc">09/01 — 31/01</div>
                </div>
                <div class="stocks-editor__title">
                    <div class="h2">Условия акции</div>
                </div>
                <div class="editor">
                    <p>
                        Участникам программы лояльности «Mr. Mish» предоставляется разовая скидка 15% в день рождения.
                    </p>
                    <p>
                        Для получения скидки необходимо указать дату рождения при регистрации в программе.
                    </p>
                    <p>
                        Скидка  доступна непосредственно  в сам день рождения и в  течение 14 дней после дня рождения   в любом из розничных  магазинов  «Mr.  Mish»  или  в   интернет-магазине  «Mr. Mish».
                    </p>
                    <p>
                        Для применения скидки в интернет-магазине, необходимо при оформлении заказа ввести промокод со скидкой, полученный на адрес электронной почты, указанной при вступлении в программу лояльности.
                    </p>
                    <p>
                        Если дата  рождения была указана некорректно,  Вы можете внести изменения  в  личном кабинете  на  сайте  «Mr.  Mish».  При  этом промокод на  скидку  поступает  на  один адрес электронной почты не чаще, чем 1 раз в год.
                    </p>
                    <p>
                        Скидкой можно воспользоваться только в течение срока ее действия, который указан в письме с купоном. Скидка не суммируется с другими акциями и специальными предложениями и действует только при покупке товаров по полной стоимости.
                    </p>
                </div>
            </div>
        </div>
        <div class="stocks-list">
            <% const list = [
                {
                    img: './images/content/stocks_item_1.jpg',
                    title: 'Покупай выгодно'
                },
                {
                    img: './images/content/stocks_item_2.jpg',
                    title: 'Промокод на 300 р'
                },
                {
                    img: './images/content/stocks_item_3.jpg',
                    title: 'Скидка в день рождения'
                },
                {
                    img: './images/content/stocks_item_2.jpg',
                    title: 'Промокод на 300 р'
                },
                {
                    img: './images/content/stocks_item_3.jpg',
                    title: 'Скидка в день рождения'
                },
                {
                    img: './images/content/stocks_item_2.jpg',
                    title: 'Промокод на 300 р'
                },
                {
                    img: './images/content/stocks_item_3.jpg',
                    title: 'Скидка в день рождения'
                },
                {
                    img: './images/content/stocks_item_2.jpg',
                    title: 'Промокод на 300 р'
                }
            ]%>
            <% list.forEach(function (item) { %>
                <div class="stocks-list__item">
                    <div class="stocks-item stocks-item--not-content">
                        <a href="<%= item.img %>" class="stocks-item__link" data-fancybox="stocks-item">
                            <picture class="stocks-item-picture">
                                <img class="stocks-item-picture__img" src="<%= item.img %>" alt="">
                            </picture>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>