<section class="section-back">
    <div class="container">
        <div class="back">
            <div class="back__title">Назад к списку акций</div>
            <div class="back-button">
                <a href="#" class="back-button__link">
                    <div class="arrow-circle arrow-circle--left">
                        <svg class="i-icon">
                            <use xlink:href="#icon-arrow-left"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>