<section class="section bg-beige-bright">
    <div id="stocksElement1" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement1"></use>
        </svg>
    </div>
    <div id="stocksElement2" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement2"></use>
        </svg>
    </div>
    <div id="stocksElement3" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement3"></use>
        </svg>
    </div>
    <div id="stocksElement4" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement4"></use>
        </svg>
    </div>
    <div id="stocksElement5" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement5"></use>
        </svg>
    </div>
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <div class="h1">Доставка в г. Геленджик</div>
            </div>
        </div>
        <div class="editor-wrapper">
            <div class="editor">
                <p>
                    Мы осуществляем доставку в города России, Украины, Республики Беларусь и Казахстана. Мы гарантируем оперативную и аккуратную упаковку заказа.
                </p>

                <h2 class="title-border">Способы доставки в г. Геленджик</h2>

                <h3 class="align-left">Самовывоз из магазина</h3>
                <p>Вы можете самостоятельно забрать ваш товар в наших магазинах. Список магазинов по <a href="#">ссылке</a>.</p>

                <h3 class="align-left">Доставка курьером СДЭК</h3>

                <dl>
                    <dt>Стоимость доставки:</dt>
                    <dd>300 р</dd>
                </dl>
                <dl>
                    <dt>Срок доставки:</dt>
                    <dd>2-3 дня</dd>
                </dl>

                <h3 class="align-left">Доставка в пункт самовывоза СДЭК</h3>

                <dl>
                    <dt>Стоимость доставки:</dt>
                    <dd>250 р</dd>
                </dl>
                <dl>
                    <dt>Срок доставки:</dt>
                    <dd>3 дня</dd>
                </dl>

                <h3 class="align-left">Доставка почтой России</h3>

                <dl>
                    <dt>Стоимость доставки:</dt>
                    <dd>370 р</dd>
                </dl>
                <dl>
                    <dt>Срок доставки:</dt>
                    <dd>7 дня</dd>
                </dl>

            </div>
        </div>
    </div>
</section>