<section class="section  bg-beige-bright">
    <div id="stocksElement1" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement1"></use>
        </svg>
    </div>
    <div id="stocksElement2" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement2"></use>
        </svg>
    </div>
    <div id="stocksElement3" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement3"></use>
        </svg>
    </div>
    <div id="stocksElement4" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement4"></use>
        </svg>
    </div>
    <div id="stocksElement5" class="stocks-element">
        <svg class="i-icon">
            <use xlink:href="#icon-stocksElement5"></use>
        </svg>
    </div>
    <div class="container">
        <div class="content-head">
            <%- require("../components/elements/breadcrumbs.ejs")() %>
            <div class="content-head__title">
                <div class="h1">Типовая текстовая страница</div>
            </div>
        </div>
        <div class="editor-wrapper">
            <div class="editor">
<!--                <a href="#anchor" data-anchor>Якорь</a>-->
                <p>
                    Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко. И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук.
                </p>
                <p>
                    Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко. И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук. Особенность наших игрушек в том, что ребенок может их сделать сам!
                </p>
                <p>
                    Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко. И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук.
                </p>

                <h2>Заголовок списка</h2>

                <ol>
                    <li>
                        Особенность наших игрушек в том, что ребенок может их сделать сам!
                    </li>
                    <li>
                        Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                    </li>
                    <li>
                        И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук.
                    </li>
                    <li>
                        Особенность наших игрушек в том, что ребенок может их сделать сам!
                    </li>
                    <li>
                        Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                        <ol>
                            <li>
                                Особенность наших игрушек в том, что ребенок может их сделать сам!
                            </li>
                            <li>
                                Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                            </li>
                            <li>
                                Особенность наших игрушек в том, что ребенок может их сделать сам!
                            </li>
                        </ol>
                    </li>
                </ol>

                <h3>Заголовок списка</h3>

                <ul id="anchor">
                    <li>
                        Особенность наших игрушек в том, что ребенок может их сделать сам!
                    </li>
                    <li>
                        Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                    </li>
                    <li>
                        И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук.
                    </li>
                    <li>
                        Особенность наших игрушек в том, что ребенок может их сделать сам!
                    </li>
                    <li>
                        Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко.
                    </li>
                    <li>
                        И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук. Особенность наших игрушек в том, что ребенок может их сделать сам!
                    </li>
                    <li>
                        Создавая себе игрушку, у малыша появляется желание творить чудеса. Еще бы, ведь он выбирает образ будущего друга, которого с его участием наполняют, «оживляют» вкладывая в него сердечко. И вот когда он готов можно сделать его красивым, особенным: одеть, обуть, выбрать запах и звук.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>