@import "../media.css";

.assemble-element {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    @media(--mobile) {
        display: none;
    }
    svg {
        width: 100%;
        height: 100%;
    }
}

#assembleElement1 {
    top: 0;
    transform: translate(-270px, 64px);
    width: 177px;
    height: 163px;
    z-index: 1;
}
#assembleElement2 {
    top: 0;
    transform: translate(-460px, 464px);
    width: 266px;
    height: 243px;
}
#assembleElement3 {
    top: 0;
    transform: translate(460px, 183px);
    width: 370px;
    height: 338px;
}