@import "../media.css";

.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back__title {
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 14px;
}