@import "../media.css";

.basket-items-list-table {

}
.basket-items-list-item-container {
    &-expend {
        .basket-items-list-item-descriptions,
        .basket-items-list-item-price {
            pointer-events: none;
            opacity: 0.3;
        }
    }
}
.basket-items-list-item-descriptions {

}
.basket-items-list-item-descriptions-inner {

}
.basket-item-block-article {

}
.basket-item-block-article__key {

}
.basket-item-block-image {

}
.basket-item-image-link {

}
.basket-item-image {

}
.basket-item-info-name {

}
.basket-item-info-name-link {

}
.basket-items-list-item-amount {

}
.basket-item-block-amount {

}
.basket-item-amount-btn-minus {

}
.basket-item-amount-btn-plus {

}
.basket-item-amount-filed {

}
.basket-item-name {

}
.basket-items-list-item-price.basket-items-list-item-price-for-one {

}
.basket-items-list-item-price {

}
.basket-item-block-price {

}
.basket-item-price-old {

}
.basket-item-price-current-text,
.basket-item-price-old-text {
    white-space: nowrap;
}
.basket-item-price-current--discount {

}
.basket-item-price-old-text {

}
.basket-item-block-amount__text {

}
.basket-item-actions-remove {
    svg {

    }
    &:hover {
        svg {

        }
    }
}
.basket-items-list-item-remove,
.basket-items-list-item-restore-button-custom {

}
.basket-items-list-item-remove,
.basket-items-list-item-restore-button-custom {

}
.basket-items-list-item-removed-block {
    a {

        svg {

        }
        &:hover {
            svg {

            }
        }
    }
}

.basket-coupon-block-field-description {

}
.basket-coupon-section,
.basket-checkout-section {

}

.basket-list {

}
.basket-list__item {

    .sorting-select {

    }
}
.basket-checkout-block.basket-checkout-block-total {

}
.basket-checkout-section-inner {
    form {
        margin-bottom: 0;
    }
}
.basket-checkout-block-total-title {

}
.basket-coupon-block-total-price-current {

}
.basket-checkout-block.basket-checkout-block-btn {

}
.basket-admin {

}
.basket-coupon-alert-inner {

}
.basket-coupon-text {

}
.basket-coupon-alert {

}
.basket-location {

}