@import "../media.css";

.catalog {
    width: 100%;
    padding-top: 10px;
    &.ajax_load {
         .catalog-list__item {
             &--3 {

              }
         }
    }
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: -15px;
    margin-bottom: 40px;
    @media(max-width: 1200px) {
        margin: -10px;
        margin-bottom: 30px;
    }
    @media(--mobile) {
        margin: -7px;
        margin-bottom: 25px;
    }
}
.catalog-list__item {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 15px;
    @media(max-width: 1200px) {
        padding: 10px;
    }
    @media(--mobile) {
        padding: 7px;
    }
    &--1 {
        width: 8.33333333333%;
        min-width: 8.33333333333%;
    }
    &--2 {
        width: 16.6666666667%;
        min-width: 16.6666666667%;
    }
    &--3 {
        width: 25%;
        min-width: 25%;
            @media(--tablet-above) {
                width: 33.3333333333%;
                min-width: 33.3333333333%;
            }
            @media(--mobile) {
                width: 50%;
                min-width: 50%;
            }
    }
    &--4 {
        width: 33.3333333333%;
        min-width: 33.3333333333%;
        @media(--mobile) {
            width: 50%;
            min-width: 50%;
        }
    }
    &--5 {
        width: 41.6666666667%;
        min-width: 41.6666666667%;
    }
    &--6 {
        width: 50%;
        min-width: 50%;
    }
    &--7 {
        width: 58.3333333333%;
        min-width: 58.3333333333%;
    }
    &--8 {
        width: 66.6666666667%;
        min-width: 66.6666666667%;
    }
    &--9 {
        width: 75%;
        min-width: 75%;
    }
    &--10 {
        width: 83.3333333333%;
        min-width: 83.3333333333%;
    }
    &--11 {
        width: 91.6666666667%;
        min-width: 91.6666666667%;
    }
    &--12 {
        width: 100%;
        min-width: 100%;
    }
    &--complete {
        width: 330px;
        min-width: 330px;
        @media(--desktop-below) {
            width: 25%;
            min-width: 25%;
        }
        @media(--tablet-above) {
            width: 33.3333333333%;
            min-width: 33.3333333333%;
        }
        @media(--mobile) {
            width: 50%;
            min-width: 50%;
        }
        &:nth-child(1),
        &:nth-child(2) {
            &:before,
            &:after {
                content: '';
            }
        }
        &:nth-last-child(-n+2) {
            &:before,
            &:after {
                content: none;
            }
        }
        &:nth-last-child(-n+2) {
            &:before,
            &:after {
                content: none;
            }
        }
        &:last-child {
            display: flex;
        }
        &:before,
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: var(--c-black);
            z-index: 1;
            @media(--mobile) {
                content: none!important;
            }
        }
        &:before {
             right: -25px;
             width: 50px;
             height: 1px;
        }
        &:after {
             right: 0;
             width: 1px;
             height: 50px;
        }
        .catalog-item {
            /*height: auto;*/
            padding: 28px 18px 22px;
            &:hover {
                .catalog-item__bottom {
                    &:after {
                        width: 66%;
                    }
                }
            }
        }
        .catalog-item__top {
            padding-bottom: 14px;
        }
        .catalog-item__bottom {
            &:before {
                width: 66%;
            }
        }
        .catalog-item-picture {
            height: 170px;
        }
        .catalog-item__article {
            margin-bottom: 14px;
        }
        .catalog-item__status {
            margin-top: 22px;
        }
    }
}
.catalog__show {
    /*margin-top: 40px;*/
    text-align: center;
}