@import "../media.css";

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -4px;
    &--center {
        justify-content: center;
    }
}
.checkbox-list__item {
    width: 25%;
    min-width: 25%;
    padding: 10px 4px;
    @media(--mobile) {
        width: 50%;
        min-width: 50%;
    }
}