@import "../media.css";

.create-toy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 163px;
    text-align: center;
    z-index: 1;
}
.create-toy__head {
    padding: 0 17px;
}
.create-toy__desc {
    margin-top: 20px;
    line-height: 1.9;
    @media(--mobile-xs) {
        margin-top: 15px;
        line-height: 1.7;
    }
}
.create-toy__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(--tablet) {
        width: 100%
    }
}
.create-toy__foot {
    margin-top: 38px;
    @media(--mobile-xs) {
        margin-top: 20px;
    }
}