@import "../media.css";

.delivery-list {
    position: relative;
    margin-bottom: 68px;
}
.delivery-list__item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
.delivery-item {
    display: flex;
    padding: 50px 80px 50px 48px;
    background-color: white;
    @media(--tablet-above) {
        padding: 50px 48px 50px 48px;
    }
    @media(--mobile) {
        padding: 42px 35px 42px;
    }
    @media(--mobile-xs) {
        padding: 42px 20px 42px;
    }
}
.delivery-item__left {
    width: 175px;
    min-width: 175px;
    @media(--tablet-above) {
        display: none;
    }
}
.delivery-item__right {
    flex-grow: 1;
    padding-left: 48px;
    @media(--tablet-above) {
        padding-left: 0px;
    }
    @media(max-width: 1080px) {
        width: 100%;
    }
}
.delivery-item__title {
    margin-bottom: 12px;
    font-family: 'Playfair Display';
    font-size: 30px;
}