@import "../media.css";

.developer {
    display: flex;
    justify-content: center;
}
.developer__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 10px;
    color: var(--c-black);
    @media(--mobile-s) {
        font-size: 9px;
    }
}
.developer__label {
    margin-right: 4px;
    padding-top: 2px;
    line-height: 1.6;
}
.developer__img {
    width: 110px;
    @media(--mobile-s) {
        width: 100px;
    }
}