@import "../media.css";

.directory {

}
.directory-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
    @media(--tablet) {
        justify-content: center;
    }
}
.directory-list__item {
    width: 20%;
    min-width: 20%;
    margin: 0 0 46px 0;
    padding: 0 17px;
    @media(--tablet) {
        width: 33.33%;
        min-width: 33.33%;
    }
    @media(--mobile-s) {
        width: 50%;
        min-width: 50%;
    }
    @media(--mobile-xs) {
        margin-bottom: 20px;
    }
    &:before {
        content: none;
    }
}
.directory-item {
    height: 210px;
    background-image: url("../images/svg/heart_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    @media(--tablet-above) {
        height: 200px;
    }
    @media(--tablet) {
        height: 27vw;
    }
    @media(--mobile-s) {
        height: 40vw;
    }
}
.directory-item__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--c-black);
    &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        margin: auto;
        height: 50px;
        width: 1px;
        background-color: var(--c-black);
        transition: .3s;
        @media(--tablet-above) {
            height: 40px;
        }
        @media(--tablet) {
            top: 2vw;
            height: 5vw;
        }
        @media(--mobile-s) {
            top: 2vw;
            height: 10vw;
        }
        @media(--mobile-xs) {
            height: 7vw;
        }
    }
    &.is-hover {
        color: var(--c-orange);
        &:before {
            background-color: var(--c-orange);
        }
        .directory-item-picture__img {
            &--repose {
                opacity: 0;
                visibility: hidden;
            }
            &--hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.directory-item-picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    @media(--tablet-above) {
        width: 45px;
        height: 45px;
    }
    @media(--mobile-xs) {
        width: 35px;
        height: 35px;
    }
    &--small {
        width: 27px;
        height: 27px;
    }
}
.directory-item-picture__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-family: 'object-fit: contain;';
    transition: .3s;
    &--repose {
        opacity: 1;
        visibility: visible;
    }
    &--hover {
        opacity: 0;
        visibility: hidden;
    }
}
.directory-item__title {
    transform: translateY(25px);
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    @media(--tablet-above) {
        font-size: 14px;
        line-height: 1.5;
    }
    @media(--mobile-xs) {
        transform: translateY(10px);
        font-size: 12px;
    }
}