@import '../media.css';

.footer-nav {
    @media(--tablet-above) {
        display: none;
    }
}
.footer-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.footer-nav-list__item {
    margin: 0;
    padding-left: 0;
    &:before{
        content: none;
    }
}
.footer-nav-list__link {
    display: block;
    padding: 0;
    font-size: 12px;
    color: var(--c-black);
}