@import "../media.css";

.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -37px;
}
.header-nav-list__item {
    margin: 0;
    padding: 0 37px;
    &:before {
        content: none;
    }
}
.header-nav-list__link {
    display: inline-block;
    padding: 6px 0;
    font-size: 11px;
    font-weight: 500;
    color: var(--c-black);
}