@import "../media.css";

#pop--cdek {
    a {
        display: inline-block;
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        line-height: 50px;
        letter-spacing: .1em;
        color: #fff;
        background-color: var(--c-orange);
        border: 1px solid var(--c-orange);
        box-shadow: 0 10px 15px rgba(219,130,0,.3);
        border-radius: 55px;
        transition: .3s;
        cursor: pointer;
    }
}