@import "../media.css";

.link {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 14px;
    color: var(--c-orange);
    @media(--mobile-xs) {
        font-size: 12px;
    }
    &--small {
         font-size: 12px;
    }
}