@import "../media.css";

.logout {
    position: absolute;
    top: 0;
    right: 0;
}
.logout__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    color: var(--c-black);
    span {
        @media(--mobile) {
            display: none;
        }
    }
    svg {
        width: 24px;
        height: 27px;
        margin-left: 14px;
        @media(--mobile) {
            margin-left: 0;
        }
    }
    &:hover {
        color: var(--c-orange);
    }
}