@import "../media.css";

#mobileMenu {
    .header-catalog-list {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(0);
        transition: transform .5s cubic-bezier(0.75, 0, 0.25, 1);
        &.is-hide {
            transform: translateX(-100%);
        }
    }
    .header-catalog-list__item {
        width: 100%;
        min-width: 100%;
        &.is-active {
            .header-sub-catalog-list {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .header-catalog-list__link {
        display: flex;
        flex-direction: initial;
        align-items: center;
        height: 42px;
        padding: 0 28px;
    }
    .directory-item-picture {
        margin-right: 13px;
    }
    .header-catalog-list__next {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .header-sub-catalog-list {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        transition: transform .5s cubic-bezier(0.75, 0, 0.25, 1);
        visibility: hidden;
    }
    .header-sub-catalog-list__item {
        margin: 18px 0;
        &:first-child {
            margin-top: 0;
        }
        .header-catalog-list__link {
            padding: 0;
            /*font-size: 16px;*/
            .directory-item-picture {
                /*margin-right: 10px;*/
            }
            span {
                /*margin-top: 2px;*/
            }
        }
    }
    .header-sub-catalog-list__link {
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 13px;
    }
    .footer-nav-list {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-nav-list__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    .phone {
        margin-bottom: 10px;
        text-align: left;
    }
    .phone__link {
        font-size: 18px;
    }
    .phone__label {
        order: -1;
        margin: 0 0 3px 0;
        text-align: left;
    }
    .request-call__link {
        span {
            font-size: 13px;
        }
        .circle-item__icon {
            display: flex;
            svg {
                color: transparent;
            }
        }
    }
    .circle-item--location{
        position: static;
    }
    .modal-location {
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
        width: 100%;
        margin-top: 0;
        padding: 73px 15px 22px 34px;
        &.is-show {
             transform: translateX(0);
        }
    }
    .modal-location-title {
        padding-right: 0;
    }
    .modal-location-list {
        margin-top: 46px;
    }
    .modal-location-list__item {
        margin: 10px 0;
    }
    .modal-location-list__link {
        font-size: 12px;
    }
    .modal-location-list__icon {
        margin-right: 10px;
    }
    .modal-location__close {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: var(--c-beige);
        border: none;
        border-radius: 0;
        cursor: pointer;
        &:before,
        &:after {
             top: -5px;
             left: 33px;
             right: auto;
             width: 8px;
        }
        &:after {
             top: 5px;
        }
        &:hover {
            &:before,
            &:after {
                background-color: var(--c-orange);
            }
        }
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 480px;
    transform: translateX(-100%);
    transition: transform .5s cubic-bezier(0.75, 0, 0.25, 1);
    box-shadow: var(--boxShadow);
    z-index: 900;
    &.is-active {
        transform: translateX(0);
    }
}
.mobile-menu__left {
    position: relative;
    width: 70px;
    min-width: 70px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 233, 202, 0.9) 1.8%, rgba(255, 173, 152, 0.9) 98.73%);
}
.mobile-menu__right {
    position: relative;
    padding-top: 64px;
    flex-grow: 1;
    height: 100%;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}
.mobile-menu__close {
    position: absolute;
    top: 20px;
    left: 15px;
}
.mobile-menu__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--c-beige);
    border: none;
    cursor: pointer;
    svg {
        position: absolute;
        top: 0;
        left: 34px;
        bottom: 0;
        transform: rotate(180deg);
        margin: auto;
        width: 7px;
        height: 12px;
        fill: var(--c-black);
        transition: var(--transition);
    }
    &:focus {
        outline: none;
        svg {
            fill: var(--c-orange);
        }
    }
}
.mobile-menu__title {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    picture {
        margin-left: 10px;
    }
    span {
        font-weight: 600;
        font-size: 16px;
    }
}
.mobile-menu__section {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform .5s cubic-bezier(0.75, 0, 0.25, 1);
    width: 100%;
    height: 100%;
    padding: 92px 35px 58px;
    background-color: white;
    &:nth-child(3) {
        z-index: 90;
    }
    &:nth-child(4) {
         transform: translateX(100%);
    }
    &.move-left {
         transform: translateX(-100%);
    }
}
.mobile-menu__tile {
    padding: 16px 0;
    &:first-child {
        padding-top: 0;
    }
}
.mobile-menu__toggle {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
    height: 58px;
    padding: 0px 35px;
    font-size: 14px;
    color: white;
    background-color: var(--c-orange);
    &:active {
        color: white;
    }
}
.mobile-menu__catalog {
    position: absolute;
    top: 58px;
    left: 0;
    transform: translateX(100%);
    transition: transform .5s cubic-bezier(0.75, 0, 0.25, 1);
    width: 100%;
    background-color: white;
}