@import "../media.css";

.mobile-filter {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 320px;
    padding-bottom: 24px;
    transform: translateX(-100%);
    background-color: white;
    transition: transform .5s cubic-bezier(0.75, 0, 0.25, 1);
    box-shadow: var(--boxShadow);
    overflow: hidden;
    overflow-y: auto;
    z-index: 900;
    .bx-filter-button-box {
        border-top: none;
    }
    &.is-active {
        transform: translateX(0);
    }
}
.mobile-filter__close {
    position: absolute;
    top: 30px;
    right: 17px;
}
.mobile-filter__head {
    padding: 20px 60px 20px 18px;
    background-color: var(--c-beige-bright);
}
.mobile-filter__title {
    font-family: 'Playfair Display';
    font-size: 30px;
    line-height: 1;
}
.mobile-filter__filter {
    padding: 15px 18px;
}