@import '../media.css';

.modal-location {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    padding: 22px 25px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 30px 55px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.modal-location__head {
    /*padding: 0 5px;*/
}
.modal-location__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--c-black);
    border-radius: 100%;
    cursor: pointer;
    transition: var(--transition);
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 1px;
        background-color: var(--c-black);
        transition: var(--transition);
    }
    &:before {
        transform: rotate(-45deg);
    }
    &:after {
        transform: rotate(45deg);
    }
    &:hover,
    &:focus {
        background-color: var(--c-orange);
        border-color: var(--c-orange);
        &:after,
        &:before {
            background-color: white;
        }
    }
    &:focus {
        outline: none;
    }
}
.modal-location-title {
    padding-right: 38px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 600;
}
.modal-location-title__label {
    color: var(--c-black);
}
.modal-location-title__city {
    color: var(--c-orange);
}
.modal-location__form {
    margin-top: 10px;
}
.modal-location-form {
    position: relative;
    .input {
        padding: 0 38px 0 0;
    }
}
.modal-location__body {
    padding: 8px 0 8px;
}
.modal-location__buttons {
    margin-top: 10px;
}
.modal-location-list {
    margin: 0;
}
.modal-location-list__item {
    padding-left: 0;
    &:before {
        content: none;
    }
}
.modal-location-list__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: var(--c-orange);
    cursor: pointer;
    p {
        display: flex;
        flex-direction: column;
    }
    span {
        text-transform: uppercase;
        line-height: 1.4;
    }
    small {
        display: inline-flex;
        font-size: 8px;
    }
    &:hover {
        .modal-location-list__icon {
            background-color: var(--c-orange);
            .i-icon--location {
                fill: white;
                stroke: white;
            }
        }
    }
}
.modal-location-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    min-width: 35px;
    height: 35px;
    margin-right: 14px;
    border: 1px solid var(--c-orange);
    border-radius: 100%;
    transition: var(--transition);
}