@import "../media.css";

.modal {
    position: relative;
    display: none;
    width: 100%;
    padding: 58px 0 14px;
    background-color: var(--c-beige);
    border: 20px solid white;
    overflow: visible;
    @media(--mobile-xs) {
        border-width: 10px;
    }
    &--subscription {
        display: block;
        padding: 50px 0 60px;
        @media(--mobile-s) {
            .modal__title {
                max-width: 270px;
                margin: 0 auto;
            }
        }
        @media(--mobile-xs) {
            padding: 34px 0 40px;
        }
        &:after {
            content: '';
            position: absolute;
            top: 30px;
            right: 30px;
            width: 45px;
            height: 50px;
            background-image: url("../images/svg/subscription.svg");
            background-size: 100%;
            @media(--mobile-xs) {
                top: 10px;
                right: 10px;
                width: 30px;
                height: 34px;
            }
        }
    }
    &--big {
        max-width: 850px;
    }
    &--small {
        max-width: 630px;
    }
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateY(-50%);
        height: 60px;
        width: 1px;
        background-color: var(--c-black);
        @media(--mobile-xs) {
            top: 0;
            height: 40px;
        }
    }
}
#callSuccess {
    padding: 88px 0 96px;
}
#coming,
#call,
#login {
    padding-bottom: 28px;
}
.modal__head {
    text-align: center;
}
.modal__title {
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: normal;
    color: var(--c-black);
    @media(--mobile-xs) {
        font-size: 35px;
    }
    &--small {
        font-size: 30px;
        @media(--mobile-xs) {
            font-size: 24px;
        }
    }
}
.modal__desc {
    margin-top: 10px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 600;
    color: var(--c-orange);
    &--small {
        font-size: 12px;
        @media(--mobile-xs) {
            font-size: 10px;
        }
    }
    &--black {
        color: var(--c-black);
    }
    a {
        margin-left: 10px;
        color: var(--c-orange);
    }
}
.modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 0;
    @media(--mobile-xs) {
        padding-top: 20px;
    }
}
.modal__form {
    width: 100%;
    max-width: 630px;
    &--small {
        max-width: 410px;
    }
    &--big {
        max-width: 1070px;
        margin-bottom: 0;
        .form-row {
            &:not(:last-child) {
                margin-bottom: 62px;
                @media(--mobile-s) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.modal__bottom {
    width: 100%;
    max-width: 410px;
    margin: 32px auto 0;
    &--big {
        max-width: 700px;
        @media(max-width: 840px) {
            padding: 0 25px;
        }
        .checkbox__text {
            max-width: none;
            margin-top: 0;
        }
        .modal__buttons {
            max-width: 410px;
            margin: 0 auto;
        }
    }
}
.modal__checkbox {
    margin-bottom: 26px;
}
.modal__buttons {
    position: relative;
    padding-bottom: 42px;
}
.modal__note {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: 600;
    color: var(--c-orange);
}