@import "../media.css";

.nav-city {
    @media(--tablet) {
        margin-bottom: 14px;
    }
}
.nav-city-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}
.nav-city-list__item {
    margin: 0 0 30px;
    padding: 0;
    @media(--tablet) {
        margin-bottom: 12px;
    }
    @media(--mobile-xs) {
        width: 100%;
        margin-bottom: 8px;
    }
    &:before {
        content: none;
    }
    &:not(:last-child) {
        margin-right: 48px;
    }
}
.nav-city-list__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--c-black);
    .icon-circle {
        margin-right: 10px;
    }
}