@import "../media.css";

.nav-title {
    @media(--tablet) {
        margin-bottom: 14px;
    }
    @media(--mobile-xs) {
        margin-bottom: 8px;
    }
}
.nav-title-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}
.nav-title-list__item {
    margin: 0 0 22px;
    padding: 0 0 2px 0;
    @media(--tablet) {
        margin-bottom: 8px;
    }
    @media(--mobile-xs) {
        margin-bottom: 8px;
    }
    &:before {
        content: none;
    }
    &:not(:last-child) {
        margin-right: 27px;
    }
    &.current {
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--c-black);
            background-image: none;
            border-radius: none;
        }
        .nav-title-list__link {
            color: var(--c-black);
        }
    }
}
.nav-title-list__link {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 600;
    color: var(--c-orange);
    cursor: pointer;
}