@import "../media.css";
.nav-alphabet {

}
.nav-alphabet-nav {
    border-top: 1px solid var(--c-black);
    border-bottom: 1px solid var(--c-black);
    @media(max-width: 1080px) {

    }
}
.nav-alphabet-list {
    display: flex;
    align-items: center;
    padding: 19px 0 16px;
}
.nav-alphabet-list__item {
    @media(max-width: 1080px) {
        &.swiper-slide {
            width: auto;
        }
    }
    &:not(:last-child) {
        margin-right: 18px;
        @media(max-width: 1080px) {
            &.swiper-slide {
                margin-right: 0;
            }
        }
    }
    &.current {
        .nav-alphabet-list__link {
            color: var(--c-orange);
        }
    }
}
.nav-alphabet-list__link {
    white-space: nowrap;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: var(--c-black);
    cursor: pointer;
}

.nav-alphabet-content {
    max-height: 338px;
    padding-top: 28px;
    columns: 180px auto;
}
.nav-alphabet-content__item {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 12px;
    color: var(--c-black);
}
.nav-alphabet-content__link {
    font-weight: 500;
    font-size: 12px;
    color: var(--c-black);
}