@import "../media.css";

.orders {
    @media(--tablet) {
        max-width: 410px;
        margin: 0 auto;
    }
    & + .pagination {
        margin-top: 28px;
    }
}
.orders__head {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    color: var(--placeholder);
    @media(--tablet) {
        display: none;
    }
    .orders__row {
        padding: 7px 0;
    }
}
.orders__content {
    @media(--tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}
.orders__row {
    display: flex;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid var(--border);
    @media(--tablet) {
        width: 100%;
        min-width: 100%;
        flex-direction: column;
    }
    &--border-black {
        border-color: var(--c-black);
    }
}
.orders__col {
    @media(--tablet) {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        span {
            line-height: 1.6;
        }
    }
    &:nth-child(1) {
        display: flex;
        align-items: center;
        width: 178px;
        min-width: 178px;
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
        svg {
            width: 32px;
            height: 35px;
            margin-right: 14px;
            @media(--tablet) {
                display: none;
            }
        }
        span {
            white-space: nowrap;
            font-weight: 600;
            font-size: 16px;
            color: var(--c-orange);
            @media(--tablet) {
                font-size: 14px;
            }
        }
        .orders__label {
            letter-spacing: 0.2em;
            white-space: nowrap;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 11px;
            color: var(--placeholder);
            @media(--mobile-xs) {
                font-size: 10px;
            }
        }
    }
    &:nth-child(2) {
         width: 113px;
         min-width: 113px;
        @media(--tablet-above) {
            width: 85px;
            min-width: 85px;
        }
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
    }
    &:nth-child(3) {
         width: 110px;
         min-width: 110px;
        @media(--tablet-above) {
            width: 90px;
            min-width: 90px;
        }
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
    }
    &:nth-child(4) {
        width: 246px;
        min-width: 246px;
        padding-right: 20px;
        @media(--tablet-above) {
            width: 170px;
            min-width: 170px;
        }
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
    }
    &:nth-child(5) {
        width: 265px;
        min-width: 265px;
        padding-right: 20px;
        @media(--tablet-above) {
            width: 180px;
            min-width: 180px;
        }
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
    }
    &:nth-child(6) {
         display: flex;
         align-items: center;
         flex-grow: 1;
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
    }
    &:nth-child(7) {
        width: 115px;
         min-width: 115px;
        text-align: right;
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
            text-align: left;
        }
        span {
            white-space: nowrap;
        }
    }
}

.orders-pay {
    display: block;
    max-width: 410px;
    margin: 20px 0;
}
.orders__label {
    display: none;
    letter-spacing: 0.2em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    color: var(--placeholder);
    @media(--tablet) {
        display: flex;
        width: 180px;
        min-width: 180px;
        padding-top: 4px;
    }
    @media(--mobile-xs) {
        width: 150px;
        min-width: 150px;
        font-size: 10px;
    }
}