@import "../media.css";

.page-slider {
    position: relative;
    width: 100%;
    /*height: 100vh;*/
    overflow: hidden;
}
.page-slider__container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: top 1s;
    z-index: 10;
}
.page-slider__section {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    height: 100vh;
    @media(--tablet-above) {
        height: auto;
    }
    .page-slider-counter {
        display: none;
    }
    &#pageSlide1 {
         /*background: linear-gradient(180deg, #FFD9A0 20.5%, #FFAD98 100%);*/
        .create-toy__head {
            padding: 0 17px;
            transition: .3s;
        }
    }
    &#pageSlide2 {
         /*background: linear-gradient(180deg, #FFAD98 33.26%, #E5C6D6 100%);*/
    }
    &#pageSlide3 {
         /*background: linear-gradient(180deg, #E5C6D6 33.26%, #C4BAD2 100%);*/
        .toy-list-wrapper {
            &.swiper-container {
                 transform: translateY(-32px);
            }
        }

    }
    &#pageSlide4 {
        /*background: linear-gradient(180deg, #C4BAD2 63.79%, #C4BAD2 100%);*/
        .create-toy__body {
            width: auto;
        }
        @media(--mobile-xs) {
            padding-bottom: 30px;
        }
        .toy svg {
            color: white;
        }
    }
}
.page-slider-counter {
    position: fixed;
    display: block;
    top: 106px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: white;
    border-radius: 100%;
    z-index: 10;
    @media(max-width: 1365px) {
        display: none;
    }
    @media(--mobile-xs) {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 26px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0.5px;
        left: 0.5px;
        right: 0.5px;
        bottom: 0.5px;
        margin: auto;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 100%;
    }
}