@import "../media.css";

.phone {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.phone__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: var(--c-black);
    &--small {
        font-size: 18px;
        @media(--mobile-s) {
            font-size: 12px;
        }
        @media(--mobile-xs) {
            font-size: 9px;
        }
    }
}
.phone__label {
    margin-top: 5px;
    text-align: right;
    font-weight: 500;
    font-size: 11px;
    color: var(--placeholder);
    @media(--tablet-above) {
        order: -1;
        margin: 0 0 3px 0;
        text-align: left;
    }
}