@import "../media.css";

.picture-heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 163px;
    clip-path: url(#myClip);
}
.picture-heart__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

