@import "../media.css";

.police {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -20px 8px;
    @media(--mobile-s) {
        flex-direction: column;
        margin-bottom: 14px;
    }
}
.police-item {
    padding: 0 20px;
    @media(--mobile-s) {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}
.police-item__link {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 10px;
    color: var(--c-orange);
    @media(--mobile-s) {
        font-size: 9px;
    }
}