@import "../media.css";

.request-code {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    color: var(--c-black);
}
.request-code__label {
    margin-right: 4px;
    color: var(--placeholder);
}
.request-code__link {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: var(--c-orange);
}