@import "../media.css";

.slider-catalog-wrapper {
    position: relative;
    min-height: 644px;
    margin-bottom: 68px;
    @media(--mobile-s) {
        margin-bottom: 48px;
    }
    @media(--mobile-xs) {
        min-height: auto;
        margin-bottom: 32px;
    }
    .slider-catalog__head {
        min-height: 68px;
        margin-bottom: 64px;
        @media(--mobile-xs) {
            margin-bottom: 32px;
        }
    }
}
.slider-catalog {
    &:not(:last-child) {
        margin-bottom: 65px;
        @media(--mobile-xs) {
            margin-bottom: 32px;
        }
    }
}
.slider-catalog__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
    @media(--tablet) {
        justify-content: center;
    }
    @media(--mobile-xs) {
        margin-bottom: 14px;
    }
    &--nav-hide {
        justify-content: center;
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}
.slider-catalog__container {
    padding: 10px 0 50px;
    &:not(.swiper-container-initialized) {
        .swiper-wrapper {
            width: auto;
            margin: 0 -15px;
            @media(max-width: 1200px) {
                margin: 0 -10px;
            }
            @media(--mobile) {
                margin: 0 -7px;
            }
        }
        .slider-catalog__wrapper {
            justify-content: center;
        }
        .slider-catalog__slide {
            width: calc(25%);
            min-width: calc(25%);
            padding: 0 15px;
            @media(max-width: 1200px) {
                width: 33.3333333333%;
                min-width: 33.3333333333%;
                padding: 0 10px;
            }
            @media(--mobile) {
                width: 50%;
                min-width: 50%;
                padding: 0 7px;
            }
            &--small {
                width: 16.6666666667%;
                min-width: 16.6666666667%;
                @media(max-width: 1200px) {
                    width: 25%;
                    min-width: 25%;
                }
                @media(--mobile) {
                    width: 50%;
                    min-width: 50%;
                }
            }
        }
    }
    .slider__slide {
        min-width: auto;
    }
}
.slider-catalog__pagination {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 194px;
    /*height: 10px;*/
    margin: auto;
}