@import "../media.css";

.specifications-table {
    display: flex;
    flex-wrap: wrap;
    @media(--tablet) {
        columns: 1;
    }
}
.specifications-table-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 30px);
    min-width: calc(50% - 30px);
    padding: 19px 0 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    border-top: 1px solid var(--border);
    &:nth-child(1) {
        margin-right: 15px;
        order: 1;
    }
    &:nth-child(2) {
        margin-right: 15px;
        order: 3;
        border-bottom: 1px solid var(--border);
        @media(--mobile) {
            border-bottom: none;
        }
    }
    &:nth-child(3) {
        margin-left: 15px;
        order: 2;
    }
    &:nth-child(4) {
        margin-left: 15px;
        order: 4;
        border-bottom: 1px solid var(--border);
    }
    &:last-child {
        border-bottom: 1px solid var(--border);
    }
    a {
        color: var(--c-orange);
    }
    @media(--tablet) {
        &:last-child {
            border-bottom: 1px solid var(--border);
        }
    }
    @media(--mobile) {
        width: 100%;
        min-width: 100%;
        margin: 0!important;
    }
    @media(--mobile-xs) {
        padding: 18px 0 16px;
        font-size: 13px;
    }
}
.specifications-table-item__key {
    padding-right: 20px;
}
.specifications-table-item__val {
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
    @media(--mobile-xs) {
        font-size: 14px;
    }
}