@import "../media.css";

.status {
    display: flex;
    align-items: center;
    svg {
        width: 13px;
        min-width: 13px;
        height: 12px;
        margin-right: 8px;
    }
    span {
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: 600;
        font-size: 11px;
    }
}