@import "../media.css";

.stocks-editor {
    position: relative;
    width: 100%;
    max-width: 850px;
    margin: 0 auto 50px;
    padding: 20px;
    background-color: white;
    .editor {
        position: relative;
        padding-top: 40px;
    }
}
.stocks-editor__title {
    position: relative;
}
.stocks-editor__content {
    padding: 0 30px 35px;
    @media(--mobile) {
        padding: 0 15px 35px;
    }
    @media(--mobile-xs) {
        padding: 0 0 35px;
    }
}