@import '../media.css';

.tabs {

}
.tabs-nav {
    @media(--tablet) {
        &.swiper-container {
            left: -17px;
            right: -17px;
            padding: 0 17px;
            .tabs-nav-list__item {
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }
}
.tabs-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 52px;
    @media(--mobile) {
        justify-content: initial;
    }
    &--big-border {
        padding-bottom: 0;
        .tabs-nav-list__item {
            &:before {
                bottom: -92px;
                height: 50px;
            }
        }
    }
}
.tabs-nav-list__item {
    margin: 0;
    padding: 0;
    &:not(:last-child) {
        margin-right: 32px;
        @media(--mobile) {
            margin-right: 26px;
        }
    }
    &:before {
        content: none;
        position: absolute;
        bottom: -62px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1px;
        height: 30px;
        background-image: none;
        background-color: var(--c-black);
    }
    &.swiper-slide {
        width: auto;
    }
    &.current {
        &:before {
            content: '';
            @media(--mobile) {
                content: none;
            }
        }
        .tabs-nav-list__link {
            color: var(--c-black);
        }
    }
}
.tabs-nav-list__link {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 14px;
    color: var(--c-orange);
    cursor: pointer;
    @media(--tablet) {
        font-size: 13px;
    }
    @media(--mobile-xs) {
        font-size: 12px;
    }
}
.tabs-content__item {
    display: none;
    @media(--tablet) {
        display: block;
        &:not(:last-child) {
            margin-bottom: 42px;
        }
    }
    &.current {
        display: block;
    }
    .sorting {
        margin-top: 44px;
        margin-bottom: 18px;
    }
    .grid__col--9 {
        width: 75%;
        min-width: 75%;
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
            margin-bottom: 34px;
        }
    }
    .grid__col--3 {
        @media(--tablet) {
            width: 100%;
            min-width: 100%;
        }
    }
}
.tabs-content__head {
    display: none;
    @media(--tablet) {
        display: block;
    }
}