@import "../media.css";

.toy-element-wrapper {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    @media(max-width: 1365px) {
        position: absolute;
        top:0;
        bottom: auto;
    }
}
.toy-element {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: .3s;
    z-index: 2;
    @media(--mobile) {
        display: none;
    }
    svg {
        width: 100%;
        height: 100%;
    }
}

#toyElement1 {
    /*transform: translate(-433px, -95px);*/
    /*transform: translate(-45vh, -2vh);*/
    bottom: 31%;
    left: -868px;
    width: 381px;
    height: 232px;
}
#toyElement2 {
    /*transform: translate(-470px, -19px);*/
    /*transform: translate(-49vh, 6vh);*/
    bottom: 34%;
    left: -940px;
    width: 48px;
    height: 47px;
}
#toyElement3 {
    /*transform: translate(-283px, 95px);*/
    /*transform: translate(-29vh, 17vh);*/
    bottom: 9%;
    left: -568px;
    width: 56px;
    height: 56px;
}
#toyElement4 {
    /*transform: translate(398px,-282px);*/
    /*transform: translate(42vh, -22vh);*/
    bottom: 66%;
    left: 800px;
    width: 432px;
    height: 264px;
}
#toyElement5 {
    /*transform: translate(310px, -82px);*/
    /*transform: translate(32vh, -1vh);*/
    bottom: 48%;
    left: 620px;
    width: 35px;
    height: 34px;
}
#toyElement6 {
    /*transform: translate(580px, -184px);*/
    /*transform: translate(60vh, -12vh);*/
    bottom: 67%;
    left: 1160px;
    width: 50px;
    height: 52px;
}
#toyElement7 {
    /*transform: translate(394px, 1px);*/
    /*transform: translate(41vh, 8vh);*/
    bottom: 21%;
    left: 788px;
    width: 136px;
    height: 136px;
}
#toyElement8 {
    /*transform: translate(-370px,-230px);*/
    /*transform: translate(-33vh, -16vh);*/
    bottom: 69%;
    left: -645px;
    width: 120px;
    height: 128px;
}