<% const data = {
    'title': 'Список страниц верстки',
    'flowContainerClass' : ''
} %>

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="main.html">Главная</a>
        </li>
        <li>
            <a href="slider.html">Слайдер</a>
        </li>
        <li>
            <a href="catalog.html">Каталог</a>
        </li>
        <li>
            Модальные окна
            <ul>
                <li>
                    <!-- data-modal-open - для открытия модального окна-->
                    <a href="#call" data-modal-open>Заказать звонок</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<%- require("../layouts/modals.ejs")() %>
