<% const data = {
    'title': 'Главная',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<h1>Главная страница</h1>
<%- require("../layouts/footer.ejs")() %>
