<% const data = {
    'title': 'Главная',
    'flowContainerClass' : ''
} %>

<%- require("../layouts/header.ejs")(data) %>
<h1>Слайдер</h1>
<%- require("../section/slider.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
