<div class="bx-filter" data-move="bx-filter">
    <div class="bx-filter-wrapper">
    <div class="bx-filter bx-blue" data-bx-filter>
        <div class="bx-filter-section container-fluid">

            <form name="_form" action="/test/?SECTION_ID=5" method="get" class="smartfilter">

                <input type="hidden" name="SECTION_ID" id="SECTION_ID" value="5">
                <input type="hidden" name="clear_cache" id="clear_cache" value="Y">

                <div class="bx-filter-parameters-box-row">
                    <div class="bx-filter-parameters-box" data-bx-filter-box>
                        <span class="bx-filter-container-modef"></span>
                        <div class="bx-filter-parameters-box-title"></div>

                        <div class="bx-filter-block" data-role="bx_filter_block">
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Хит</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Новинка</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Только в наличии</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Только со скидкой</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bx-filter-parameters-box" data-bx-filter-box>
                        <span class="bx-filter-container-modef"></span>
                        <div class="bx-filter-parameters-box-title">
                            <span>Цена:</span>
                        </div>
                        <div class="bx-filter-block" data-role="bx_filter_block">
                            <div class="bx-filter-parameters-box-container bx-filter-parameters-box-container--flex">
                                <div class="bx-filter-parameters-box-container-block bx-left">
                                    <div class="bx-filter-input-container">
                                        <input class="min-price input" type="text" name="arrFilter_P1_MIN" id="arrFilter_P1_MIN" value="" size="5" onkeyup="smartFilter.keyup(this)">
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container-block bx-right">
                                    <div class="bx-filter-input-container">
                                        <input class="max-price input" type="text" name="arrFilter_P1_MAX" id="arrFilter_P1_MAX" value="" size="5" onkeyup="smartFilter.keyup(this)">
                                    </div>
                                </div>

                                <div class="bx-ui-slider-track-container">
                                    <div class="bx-ui-slider-track" id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
                                        <div class="bx-ui-slider-part p1"><span>92</span></div>
                                        <div class="bx-ui-slider-part p2"><span>10&nbsp;824</span></div>
                                        <div class="bx-ui-slider-part p3"><span>21&nbsp;556</span></div>
                                        <div class="bx-ui-slider-part p4"><span>32&nbsp;288</span></div>
                                        <div class="bx-ui-slider-part p5"><span>43&nbsp;020</span></div>

                                        <div class="bx-ui-slider-pricebar-vd" style="left: 0;right: 0;" id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b"></div>
                                        <div class="bx-ui-slider-pricebar-vn" style="left: 0%; right: 0%;" id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b"></div>
                                        <div class="bx-ui-slider-pricebar-v" style="left: 0%; right: 0%;" id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b"></div>
                                        <div class="bx-ui-slider-range" id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b" style="left: 0%; right: 0%;">
                                            <a class="bx-ui-slider-handle left" style="left:0;" href="javascript:void(0)" id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
                                            <a class="bx-ui-slider-handle right" style="right:0;" href="javascript:void(0)" id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    <script type="text/javascript">-->
                    <!--                        BX.ready(function(){-->
                    <!--                            window['trackBarc4ca4238a0b923820dcc509a6f75849b'] = new BX.Iblock.SmartFilter({'leftSlider':'left_slider_c4ca4238a0b923820dcc509a6f75849b','rightSlider':'right_slider_c4ca4238a0b923820dcc509a6f75849b','tracker':'drag_tracker_c4ca4238a0b923820dcc509a6f75849b','trackerWrap':'drag_track_c4ca4238a0b923820dcc509a6f75849b','minInputId':'arrFilter_P1_MIN','maxInputId':'arrFilter_P1_MAX','minPrice':'92','maxPrice':'43020','curMinPrice':'','curMaxPrice':'','fltMinPrice':'92','fltMaxPrice':'43020','precision':'','colorUnavailableActive':'colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b','colorAvailableActive':'colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b','colorAvailableInactive':'colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b'});-->
                    <!--                        });-->
                    <!--                    </script>-->

                    <div class="bx-filter-parameters-box" data-bx-filter-box>
                        <span class="bx-filter-container-modef"></span>
                        <div class="bx-filter-parameters-box-title">
                            <span>Для кого</span>
                        </div>
                        <div class="bx-filter-block" data-role="bx_filter_block">
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Для мальчиков</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Для девочек</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bx-filter-parameters-box" data-bx-filter-box>
                        <span class="bx-filter-container-modef"></span>
                        <div class="bx-filter-parameters-box-title">
                            <span>Тип</span>
                        </div>
                        <div class="bx-filter-block" data-role="bx_filter_block">
                            <div class="bx-filter-block__row">
                                <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>Мишки</span>
                                        </div>
                                    </label>
                                </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Кролики</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Котята</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Щенки</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Ежики</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bx-filter-block__row" data-bx-filter-row>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Ежики</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Ежики</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Ежики</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bx-filter-block-toggle">
                                <a href="#" class="bx-filter-block-toggle__link" data-bx-filter-row-toggle>Показать все</a>
                            </div>
                        </div>
                    </div>
                    <div class="bx-filter-parameters-box" data-bx-filter-box>
                        <span class="bx-filter-container-modef"></span>
                        <div class="bx-filter-parameters-box-title">
                            <span>Размер</span>
                        </div>
                        <div class="bx-filter-block" data-role="bx_filter_block">
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>20 см.</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>30 см.</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>40 см.</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="bx-filter-parameters-box-container">
                                <div class="checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__input" type="checkbox">
                                        <div class="checkbox__emulator">
                                            <svg class="i-icon">
                                                <use xlink:href="#icon-checked"></use>
                                            </svg>
                                        </div>
                                        <div class="checkbox__text">
                                            <span>50 см.</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bx-filter-parameters-box" data-bx-filter-box>
                        <span class="bx-filter-container-modef"></span>
                        <div class="bx-filter-parameters-box-title">
                            <span>Цвет</span>
                        </div>
                        <div class="bx-filter-block" data-role="bx_filter_block">
                            <div class="bx-filter-block__row">
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Белый</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Оранжевый</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Синий</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Розовый</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Красный</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bx-filter-block__row" data-bx-filter-row>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Красный</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Красный</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Красный</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bx-filter-block-toggle">
                                <a href="#" class="bx-filter-block-toggle__link" data-bx-filter-row-toggle>Показать все</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bx-filter-button-box">
                    <div class="bx-filter-block">
                        <div class="bx-filter-parameters-box-container">
                            <button class="btn btn-themes" type="button" id="set_filter" name="set_filter">Показать товары</button>
                            <button class="bx-filter-reset" type="submit" id="del_filter" name="del_filter">
                                <i class="bx-filter-reset__icon">
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-reset"></use>
                                    </svg>
                                </i>
                                <span>Сбросить все</span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!--    <script type="text/javascript">-->
    <!--        var smartFilter = new JCSmartFilter('/test/?SECTION_ID=5', 'VERTICAL', []);-->
    <!--    </script>-->

</div>
</div>