<div id="sls-6324">

    <label class="label bx-ui-sls-input-block">

        <input type="text" autocomplete="off" name="LOCATION" value="" class="dropdown-field" placeholder="Введите название ..." />
        <div class="bx-ui-sls-loader"></div>
        <div class="bx-ui-sls-pane"></div>

    </label>

    <script type="text/html" data-template-id="bx-ui-sls-error">
        <div class="bx-ui-sls-error">
            <div></div>
            {{message}}
        </div>
    </script>

    <script type="text/html" data-template-id="bx-ui-sls-dropdown-item">
        <div class="dropdown-item bx-ui-sls-variant">
            <span class="dropdown-item-text">{{display_wrapped}}</span>
        </div>
    </script>

    <div class="bx-ui-sls-error-message">
    </div>

</div>