<div id="mobileMenu" class="mobile-menu" data-mobile-menu>
    <div class="mobile-menu__left">
        <button class="mobile-menu__close circle-close" data-mobile-menu-close></button>
    </div>
    <div class="mobile-menu__right">
        <button class="mobile-menu__back" data-mobile-menu-back>
            <svg class="i-icon">
                <use xlink:href="#icon-arrow-next"></use>
            </svg>
        </button>
        <section class="mobile-menu__section" data-mobile-section>
            <div class="mobile-menu__tile" data-mobile="nav">
                <a href="#" class="mobile-menu__toggle" data-mobile-catalog-open>
                    <span>Каталог товаров</span>
                    <svg class="i-icon">
                        <use xlink:href="#icon-arrow-next"></use>
                    </svg>
                </a>
            </div>
            <div class="mobile-menu__tile" data-mobile="location"></div>
            <div class="mobile-menu__tile" data-mobile="call"></div>
        </section>
        <section class="mobile-menu__section" data-mobile-section>
            <div class="mobile-menu__catalog" data-mobile="catalog">

            </div>
        </section>
    </div>
</div>