<div id="mobileFilter" class="mobile-filter" data-mobile-filter>
    <button class="mobile-filter__close circle-close" data-mobile-filter-close></button>
    <div class="mobile-filter__head">
        <div class="mobile-filter__title">Фильтровать товары</div>
    </div>
    <div class="mobile-filter__filter" data-mobile="bx-filter"></div>
</div>