<div id="call" class="modal modal--big">
    <div class="modal__head">
        <div class="modal__title">Заказать звонок</div>
        <div class="modal__desc">Оставьте заявку и наш специалист свяжется с вами</div>
    </div>
    <div class="modal__body">
        <form class="modal__form" action="" data-form>
            <div class="form-row">
                <div class="form-col form-col--6">
                    <label class="label">
                        <input type="text" class="input input--required" value="" placeholder="" data-input-required="name">
                        <span class="placeholder">
                            <span>Имя</span>
                            <span class="required">*</span>
                        </span>
                    </label>
                </div>
                <div class="form-col form-col--6">
                    <label class="label">
                        <input type="text" class="input" data-inputmask data-input-required="phone">
                        <span class="placeholder">
                            <span>Телефон</span>
                            <span class="required">*</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="modal__bottom">
                <div class="modal__checkbox">
                    <div class="checkbox">
                        <label class="checkbox__label">
                            <input class="checkbox__input" type="checkbox" data-input-required="checkbox">
                            <div class="checkbox__emulator">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-checked"></use>
                                </svg>
                            </div>
                            <div class="checkbox__text">
                                <span>
                                    Нажимая кнопку “Отправить” я соглашаюсь на обработку моих персональных данных в соответствии с
                                </span>
                                <a href="">Условиями</a>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="modal__buttons">
                    <input type="submit" class="btn btn--orange" value="Отправить">
                </div>
            </div>
        </form>
    </div>
</div>