<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-list__item">
            <a href="#">
                <span>Главная</span>
            </a>
        </li>
        <li class="breadcrumbs-list__item">
            <span>Каталог</span>
        </li>
    </ul>
</div>