<div class="pagination">
    <ul class="pagination-list">
        <!--class="pagination-list__item--hide" для не активного элемента-->
        <li class="pagination-list__item pagination-list__item--prev">
            <a href="#" class="pagination-list__link">
                <div class="arrow-circle arrow-circle--left">
                    <svg class="i-icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">1</a>
        </li>
        <li class="pagination-list__item current">
            <a href="#" class="pagination-list__link">2</a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">3</a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">4</a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">5</a>
        </li>
        <li class="pagination-list__item pagination-list__item--dot">
            <a href="#" class="pagination-list__link">...</a>
        </li>
        <li class="pagination-list__item">
            <a href="#" class="pagination-list__link">25</a>
        </li>
        <li class="pagination-list__item pagination-list__item--next">
            <a href="#" class="pagination-list__link">
                <div class="arrow-circle arrow-circle--right">
                    <svg class="i-icon">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
</div>