<div class="search-tooltip" data-search-tooltip>
    <div class="search-tooltip-list">
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/toy.png" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <div class="search-tooltip-item__content-top">
                        <div class="search-tooltip-item__article">АРТ:123456</div>
                        <div class="search-tooltip-item__status">Под заказ</div>
                    </div>
                    <div class="search-tooltip-item__content-bottom">
                        <a href="#" class="search-tooltip-item__link">
                            <div class="search-tooltip-item__name">Мишка</div>
                        </a>
                    </div>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">1 200 р</div>
                    </div>
                    <a href="#coming" class="search-tooltip-item__coming" data-modal-open="">Сообщить <br>о поступлении</a>
                </div>
                <div class="search-tooltip-item__basket">
                    <a class="catalog-item__basket catalog-item__basket--disabled" data-rel="">
                        <svg class="i-icon">
                            <use xlink:href="#icon-basket-catalog"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/toy.png" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <div class="search-tooltip-item__content-top">
                        <div class="search-tooltip-item__article">АРТ:123456</div>
                        <div class="search-tooltip-item__status">В наличии</div>
                    </div>
                    <div class="search-tooltip-item__content-bottom">
                        <a href="#" class="search-tooltip-item__link">
                            <div class="search-tooltip-item__name">Мишка</div>
                        </a>
                    </div>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">1 200 р</div>
                        <div class="price__discount">999 р</div>
                    </div>
                </div>
                <div class="search-tooltip-item__basket">
                    <a class="catalog-item__basket catalog-item__basket--go-basket" data-rel="">
                        <svg class="i-icon">
                            <use xlink:href="#icon-basket-catalog"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/toy.png" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <div class="search-tooltip-item__content-top">
                        <div class="search-tooltip-item__article">АРТ:123456</div>
                        <div class="search-tooltip-item__status">В наличии</div>
                    </div>
                    <div class="search-tooltip-item__content-bottom">
                        <a href="#" class="search-tooltip-item__link">
                            <div class="search-tooltip-item__name">Мишка</div>
                        </a>
                    </div>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">1 200 р</div>
                    </div>
                </div>
                <div class="search-tooltip-item__basket">
                    <a class="catalog-item__basket to_cart" data-rel="">
                        <svg class="i-icon">
                            <use xlink:href="#icon-basket-catalog"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/toy.png" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <div class="search-tooltip-item__content-top">
                        <div class="search-tooltip-item__article">АРТ:123456</div>
                        <div class="search-tooltip-item__status">В наличии</div>
                    </div>
                    <div class="search-tooltip-item__content-bottom">
                        <a href="#" class="search-tooltip-item__link">
                            <div class="search-tooltip-item__name">Мишка</div>
                        </a>
                    </div>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">1 200 р</div>
                    </div>
                </div>
                <div class="search-tooltip-item__basket">
                    <a class="catalog-item__basket to_cart" data-rel="">
                        <svg class="i-icon">
                            <use xlink:href="#icon-basket-catalog"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="search-tooltip-list__item">
            <div class="search-tooltip-item">
                <div class="search-tooltip-item__picture">
                    <a href="#" class="search-tooltip-item__link">
                        <picture class="search-tooltip-item-picture">
                            <img src="./images/content/toy.png" alt="" class="search-tooltip-item-picture__img">
                        </picture>
                    </a>
                </div>
                <div class="search-tooltip-item__content">
                    <div class="search-tooltip-item__content-top">
                        <div class="search-tooltip-item__article">АРТ:123456</div>
                        <div class="search-tooltip-item__status">В наличии</div>
                    </div>
                    <div class="search-tooltip-item__content-bottom">
                        <a href="#" class="search-tooltip-item__link">
                            <div class="search-tooltip-item__name">Мишка</div>
                        </a>
                    </div>
                </div>
                <div class="search-tooltip-item__price">
                    <div class="price">
                        <div class="price__value">1 200 р</div>
                    </div>
                </div>
                <div class="search-tooltip-item__basket">
                    <a class="catalog-item__basket to_cart" data-rel="">
                        <svg class="i-icon">
                            <use xlink:href="#icon-basket-catalog"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="search-tooltip__btn">
        <a class="search-tooltip__link" href="#">
            <span>Все результаты</span>
        </a>
        <!--
        <div class="search-tooltip__error">Извините, товаров не найдено</div>
        -->
    </div>
</div>