<div class="shops-list">
    <% const list = [
        {
            pointId: '1',
            lon: '59.935205',
            lat: '30.274653'
        },
        {
            pointId: '2',
            lon: '68.951780',
            lat: '33.075538'
        },
        {
            pointId: '3',
            lon: '42.77140016',
            lat: '132.88651586'
        },
        {
            pointId: '4',
            lon: '44.717257',
            lat: '37.780545'
        },
        {
            pointId: '5',
            lon: '44.095019',
            lat: '39.077838'
        },
        {
            pointId: '6',
            lon: '46.9318',
            lat: '142.744903'
        },
        {
            pointId: '7',
            lon: '45.9318',
            lat: '141.744903'
        }
    ]%>
    <% list.forEach(function (item) { %>
        <div class="shops-list__item">
            <div class="shops-item">
                <div class="shops-item__number">
                    <span>№7</span>
                </div>
                <picture class="shops-item-picture">
                    <img src="./images/content/shop.jpg" alt="" class="shops-item-picture__img">
                </picture>
                <div class="shops-item__content">
                    <div class="shops-item__row">
                        <div class="shops-item__title">Бутик радости №1</div>
                    </div>
                    <div class="shops-item__row">
                        <div class="shops-item-phone">
                            <a href="" class="shops-item-phone__link">+7 (925) 949-63-25</a>
                        </div>
                        <div class="shops-item__mode">
                            Ежедневно с 10:00 до 22:00
                        </div>
                        <div class="shops-item__point">ТРЦ Принц Плаза, 2 этаж, ул. Профсоюзная, 129 А</div>
                        <div class="shops-item-metro">
                            <svg class="i-icon">
                                <use xlink:href="#icon-metro"></use>
                            </svg>
                            <span>Теплый стан</span>
                        </div>
                    </div>
                    <div class="shops-item__row">
                        <div class="shops-item-button">
                            <a href="#" class="shops-item-button__link" data-map-point-id="<%= item.pointId %>">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-circle-point"></use>
                                </svg>
                                <span>Показать на карте</span>
                            </a>
                        </div>
                        <div class="shops-item-button">
                            <a href="./images/content/scheme_1.jpg" class="shops-item-button__link" data-fancybox-second>
                                <svg class="i-icon">
                                    <use xlink:href="#icon-circle-sheme"></use>
                                </svg>
                                <span>На схеме ТЦ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>