<div class="sorting sorting--catalog" data-sorting>
    <div class="sorting-select">
        <div class="sorting-select__label">Сортировать по</div>
        <div class="sorting-select__value">
            <span data-sorting-value>Популярности</span>
            <svg class="i-icon">
                <use xlink:href="#icon-select"></use>
            </svg>
        </div>
    </div>
    <div class="sorting-dropdown" data-sorting-dropdown>
        <ul class="sorting-dropdown-list">
            <li class="sorting-dropdown-list__item current">
                <a href="#" class="sorting-dropdown-list__link" data-sorting-dropdown-option="популярности">По популярности</a>
            </li>
            <li class="sorting-dropdown-list__item">
                <a href="#" class="sorting-dropdown-list__link" data-sorting-dropdown-option="возрастанию цены">По возрастанию цены</a>
            </li>
            <li class="sorting-dropdown-list__item">
                <a href="#" class="sorting-dropdown-list__link" data-sorting-dropdown-option="убыванию цены">По убыванию цены</a>
            </li>
        </ul>
    </div>
</div>