<ul class="sub-directory-list" data-move="sub-directory">
    <% const list = [
        {
            title: 'Мишки'
        },
        {
            title: 'Зайчики'
        },
        {
            title: 'Бегемотики'
        },
        {
            title: 'Птички'
        },
        {
            title: 'Куклы'
        }
    ] %>
    <% list.forEach(function (item) { %>
        <li class="sub-directory-list__item">
            <div class="sub-directory-item">
                <a href="#" class="sub-directory-item__link"><%= item.title%></a>
            </div>
        </li>
    <% }) %>
</ul>
