/*
*Track
*
*/

.bx-filter .bx-ui-slider-track-container {
	padding-top: 35px;
	padding-bottom: 25px;
}
.bx-filter .bx-ui-slider-track {
	position: relative;
	height: 7px;
	/*background: #d8e9f0;/* COLOR */
}
.bx-filter .bx-ui-slider-part {
	position: absolute;
	top: -6px;
	width: 1px;
	height: 17px;
	background: #a2bfc7;
}
.bx-filter .bx-ui-slider-part.p1 {
	left: -1px;
}
.bx-filter .bx-ui-slider-part.p2 {
	left: 25%;
}
.bx-filter .bx-ui-slider-part.p3 {
	left: 50%;
}
.bx-filter .bx-ui-slider-part.p4 {
	left: 75%;
}
.bx-filter .bx-ui-slider-part.p5 {
	right: -1px;
}
.bx-filter .bx-ui-slider-part span {
	font-size: 11px;
	/*font-weight: bold;*/

	position: absolute;
	top: -16px;
	left: 50%;
	display: block;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	color: #000;
}
.bx-filter .bx-ui-slider-part.p2 span,
.bx-filter .bx-ui-slider-part.p3 span,
.bx-filter .bx-ui-slider-part.p4 span {
	color: #6b8086;
}
.bx-filter .bx-ui-slider-range,
.bx-filter .bx-ui-slider-pricebar,
.bx-filter .bx-ui-slider-pricebar-vd,
.bx-filter .bx-ui-slider-pricebar-vn,
.bx-filter .bx-ui-slider-pricebar-v {
	position: absolute;
	top: 0;
	bottom: 0;
}
.bx-filter .bx-ui-slider-range {
	z-index: 50;
}
.bx-filter .bx-ui-slider-pricebar {
	z-index: 100;
}
.bx-filter .bx-ui-slider-pricebar-vd {
	z-index: 60;
	/*background: #849da4;/* COLOR */
}
.bx-filter .bx-ui-slider-pricebar-vn {
	z-index: 70;
	/*background: #a8dff3;/* COLOR */
}
.bx-filter .bx-ui-slider-pricebar-v {
	z-index: 80;
	/*background: #499fd8;/* COLOR */
}
.bx-filter .bx-ui-slider-handle {
	position: absolute;
	top: 100%;
	width: 22px;
	height: 22px;
	border-bottom: none;
}
.bx-filter .bx-ui-slider-handle:hover {
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;
	cursor: grab;
}
.bx-filter .bx-ui-slider-handle:active {
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;
	cursor: grabbing;
}
.bx-filter .bx-ui-slider-handle.left {
	left: 0;
	margin-left: -21px;
	/* COLOR */
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAArUlEQVQ4y6WSQQ6FMAhEXbjyXwzOpBdx5bXKbYRWLFSJ2m8ysVHfzGA7DH9cuKVfNwwM40ZzZzJlmE3WTjjNfF9Fn2EwMH5pUGYWOJ3w6wZ4wDKz6rUBumQPPxrUmT0IxuxpqxYLQ7MOG5TaHtbk1iza5+VauW5dfdcYSDKcMLkP7wxdA5sMQWV/BkwDTY7mtAfHjpJ/Ihj4DoIgXZ9J+siaimi6rimLgSw87qod+1BRTwMJRYoAAAAASUVORK5CIIA=) no-repeat right top;*/
}
.bx-filter .bx-ui-slider-handle.right {
	right: 0;
	margin-right: -21px;
	/* COLOR */
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAq0lEQVQ4y6WSQRKDIAxFXXSlF0vOZC+SlddKblMUUhKCraIzX9Ahj58PE268TE8e3GSFJ5BUTDskaRl1QFk8BsHs4BCMQMruVEe+l4kWglFu5yLEZKDFXyeXIFoEpg3z738mJTzXhncj75+QtqjnJENO2sG4I1VXDtR3ogv7O1dHxV10gi75EGILiE78RRKy33AOq07i+Us4kRamkOPGptesQjeXIjZjO+fXB+hjUU/S3Z+WAAAAAElFTkSuQmCC) no-repeat left top;*/
}
/*
* TAGS
*
*/

.bx-filter .bx-filter-tag {
	padding: 18px;
	/*border-top: 1px solid #d7eaf7;/* COLOR */
	/*border-bottom: 1px solid #d7eaf7;/* COLOR */
}
.bx-filter .bx-tag-link {
	font-size: 12px;
	text-decoration: none;
	/*color: #68939e;/* COLOR */
	text-shadow: none;
}
.bx-filter .bx-tag-link.bx-active,
.bx-filter .bx-tag-link:hover {
	color: #1d3d46;
}


/*
* 	BTN 
*
*/

.bx-filter .bx-filter-param-btn {
	font-weight: normal;
	display: inline-block;
	width: 38px;
	height: 38px;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	color: #000;
	vertical-align: middle;
	border: 1px solid #ccd5db;
	border-radius: 2px;
	background: #fff;
	position: relative;
	-webkit-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	-moz-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	-ms-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	-o-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	cursor: pointer;
}
.bx-retina .bx-filter .bx-filter-param-btn {
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/border_default.png) 2 repeat;
	-moz-border-image: url(images/border_default.png) 2 repeat;
	-o-border-image: url(images/border_default.png) 2 repeat;
	border-image: url(images/border_default.png) 2 repeat;
}
/* COLOR */
/*.bx-filter .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter .bx-filter-param-btn:hover,
.bx-filter .bx-filter-param-btn:active,
.bx-filter .bx-filter-param-btn:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-retina .bx-filter .bx-filter-param-btn:hover,
.bx-retina .bx-filter .bx-filter-param-btn:active,
.bx-retina .bx-filter .bx-filter-select-container:focus {
	-webkit-border-image: url(images/active.png) 2 repeat;
	   -moz-border-image: url(images/active.png) 2 repeat;
		 -o-border-image: url(images/active.png) 2 repeat;
			border-image: url(images/active.png) 2 repeat;
}*/
/* --- colors */
.bx-filter .bx-filter-param-btn.bx-color-sl {}

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl {
	background: transparent;
	box-shadow: none
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl {
	position: relative;
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl:before {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	content: ' ';
	display: block;
	z-index: 100;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/UlEQVQ4y5WSQQ6CQAxFOSBuwAtoAitc4R6MkKgYJULUi8Ax4DgKm9o/45BxBBNJmkB/33T6qUVEHkfDUXHY1sQD7V2DWg+JJox3lOZ3enYdf5IzAjnQkvxGa64Fg2S9PV3JXa4ozoovWEGbY0nOIqDkfIVeQ5hBAOQsAy5guO8FbEJxVqqDZ+rUuQ6rziJ3VLkBcs05BBxlF1nIADrJESYgE0YhAER0KH5DphEKFDNPuG1AhTAi4jnRWV17FNYhcT3NHLzLzuUnjI0YHP203EWY8ENqNsAq5Y3Qf4NuhIT7wTBsDxgIbRjvCfCUe6ozoFCuXIukj5c/lhy1/gvSDM3b8PrjegAAAABJRU5ErkJggg==") no-repeat center;
	opacity: .7;
}
.bx-filter .bx-filter-param-btn .bx-filter-param-text {
	line-height: 26px;
}
/*
* BTN P/M
*
*/

.bx-filter .bx-filter-param-btn.bx-spm {
	width: 23px;
	min-width: 23px;
	height: 23px;
	line-height: 23px;
	font-weight: normal;
	padding: 0;
	font-size: 17px;
	color: #767b7e;
	vertical-align: top;
	border-radius: 50%;
	background-color: transparent;
}
.bx-filter .bx-filter-param-btn.bx-spm.bx-plus {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAANUlEQVQoz2NgwAQsQMzJQCSwAeKGQa7YFKoAhmOgim3QsAxIcSFUkhC2GaqhgQ4UgNgFmwQAij8OUFmBFssAAAAASUVORK5CIIA=") no-repeat center;
}
.bx-filter .bx-filter-param-btn.bx-spm.bx-minus {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAG0lEQVQYV2NgYGDgBuI4AlgGiBn4gLicAFYGAAFkBwE95V42AAAAAElFTkSuQmCC") no-repeat center;
}
.bx-filter .bx-filter-param-btn.bx-spm:active {
	outline: none !important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
}
.bx-filter span.bx-spm {
	font-size: 18px;
	/*font-weight:bold;*/

	line-height: 23px;
	display: inline-block;
	height: 23px;
	margin: 0 10px;
	vertical-align: middle;
	color: #000;
}
/*
*	icon
*
*/

.bx-filter-select-popup .bx-filter-select-text-icon,
.bx-filter .bx-filter-select-text-icon {
	line-height: 33px;
	position: relative;
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-top: -4px;
	margin-right: 2px;
	vertical-align: middle;
	border-radius: 2px;
}
.bx-filter-select-popup .bx-filter-btn-color-icon,
.bx-filter .bx-filter-btn-color-icon {
	line-height: 24px;
	/*position:relative;*/
	/*top:4px;*/

	border-radius: 2px;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
	-webkit-background-size: cover;
	background-size: cover;
}
.bx-filter-select-popup .bx-filter-btn-color-icon {
	width: 20px;
	height: 20px;
	margin: 2px 0;
	top: 0 !important;
}
.bx-filter .bx-filter-select-block .bx-filter-btn-color-icon {
	top: -1px !important;
}
.bx-filter-btn-color-icon.all {
	position: relative;
	border: none;
	box-shadow: none
}
.bx-filter-btn-color-icon.all:after,
.bx-filter-btn-color-icon.all:before {
	position: absolute;
	width: 60%;
	height: 60%;
	background: #fff;
	content: " ";
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}
.bx-filter-btn-color-icon.all:after {
	right: 0;
	bottom: 0;
}
.bx-filter-btn-color-icon.all:before {
	top: 0;
	left: 0;
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon {
	opacity: .2;
}
/*
* 	BIZ
*
*/

.bx-filter .bx-filter-parameter-biz {
	font-size: 14px;
	line-height: 15px;
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
	color: #1485ce;
	border-bottom: 1px dashed;
}
.bx-filter .bx-filter-parameter-biz:hover {
	text-decoration: none;
	border-bottom: 1px solid;
}
.bx-filter .bx-filter-parameter-biz.bx-active {
	position: relative;
	/*padding-left:20px;*/

	color: #000;
	border-color: transparent;
}


