@import "media.css";

.fancybox-container {
    &.nav-hide {
        .fancybox-navigation {
            display: none;
        }
    }
}
.fancybox-content {
    padding: 20px 68px;
}
.fancybox-is-open .fancybox-bg {
    background: white;
    opacity: 1;
}
.fancybox-modal.fancybox-is-open .fancybox-bg {
    background: linear-gradient(90deg, rgba(255, 233, 202, 0.9) 1.8%, rgba(255, 173, 152, 0.9) 98.73%);
}
.fancybox-modal {
    .fancybox-button.fancybox-close-small {
        top: 18px;
        right: 20px;
    }
    .fancybox-infobar {
        display: none;
    }
}
.fancybox-modal-second {
    /*.fancybox-bg {*/
    /*    background: rgba(59,43,21,.6);*/
    /*}*/
    .fancybox-infobar {
        display: none;
    }
    /*.fancybox-content {*/
    /*    padding: 20px 68px;*/
    /*}*/
}
.fancybox-button.fancybox-close-small {
    top: 70px;
    right: 70px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--c-black);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    transition: .3s;
    opacity: 1;
    @media(--tablet) {
        top: 18px;
        right: 20px;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 1px;
        background-color: var(--c-black);
        transition: .3s;
    }
    &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    svg {
        display: none;
    }
    &:hover {
        background-color: var(--c-orange);
        border-color: var(--c-orange);
        &:before,
        &:after {
            background-color: white;
        }
    }
}
.fancybox-button {
    background: transparent;
}
.fancybox-arrow {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    margin: 0;
    background: transparent;
    border: 1px solid var(--c-black);
    border-radius: 100%;
    transition: var(--transition);
    z-index: 99997;
    cursor: pointer;
    @media(--tablet) {
        display: none;
    }
    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        margin: auto;
        fill: var(--c-black);
        transition: var(--transition);
        path {
            stroke-width: 1;
            stroke: var(--c-black);
            transition: var(--transition);
        }
    }
    &:hover {
        border-color: var(--c-orange);
        svg {
            fill: var(--c-orange);
            path {
                stroke: var(--c-orange);
            }
        }
    }
}
.fancybox-arrow--next {
    right: 105px;
    svg {
        right: 20px;
    }
}
.fancybox-arrow--prev {
    left: 105px;
    svg {
        left: 20px;
    }
}
.fancybox-toolbar {
    opacity: 1!important;
    visibility: visible!important;
}
.fancybox-infobar {
    display: flex;
    justify-content: center;
    top: auto;
    right: 0;
    bottom: 68px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    span {
        padding: 0 7px;
    }
}