@import "media.css";

.page-slider {
    height: 7000px;
    &.page-slider--mobile {
        height: auto;
        .page-slider__bg {
            display: none;
        }
        .page-slider-counter {
            position: absolute;
        }
        .toy-element-wrapper {
            position: absolute;
            top: 0;
            bottom: auto;
        }
        .toy-element {
            opacity: 1;
        }
        .page-slider__container {
            position: relative;
        }
        .page-slider__section {
            height: auto;
            .page-slider-counter {
                display: block;
                position: relative;
                top: 0;
            }
        }
        #pageSlide1 {
            background: linear-gradient(180deg, #FFD9A0 20.5%, #FFAD98 100%);
            .page-slider-counter {
                top: 103px;
            }
            .circle-counter__circle {
                stroke-dasharray: 232.526;
                @media(--mobile-xs) {
                    stroke-dasharray: 209.212;
                }
            }
            .create-toy {
                padding-top: 103px;
            }
        }
        #pageSlide2 {
            background: linear-gradient(180deg, #FFAD98 33.26%, #E5C6D6 100%);
            .circle-counter__circle {
                stroke-dasharray: 274.632;
                @media(--mobile-xs) {
                    stroke-dasharray: 226.212;
                }
            }
        }
        #pageSlide3 {
            background: linear-gradient(180deg, #E5C6D6 33.26%, #C4BAD2 100%);
            .circle-counter__circle {
                stroke-dasharray: 317.5;
                @media(--mobile-xs) {
                    stroke-dasharray: 248.212;
                }
            }
            .toy-list-wrapper--margin-top {
                @media(--mobile-xs) {
                    margin-top: -32px;
                }
            }
            .toy-item {
                &.toy-item--black {
                    @media(--mobile-xs) {
                        width: 53px;
                        height: 53px;
                        .toy-item-picture {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
         }
        #pageSlide4 {
            padding-bottom: 50px;
            background: linear-gradient(180deg, #C4BAD2 63.79%, #C4BAD2 100%);
            .circle-counter__circle {
                stroke-dasharray: 364;
                @media(--mobile-xs) {
                    stroke-dasharray: 270.212;
                }
            }
        }
        .create-toy {
            padding-top: 7px;
        }
    }
}
.page-slider__bg {
    top: 0;
    left:0;
    width: 100%;
    height: 400vh;
    background: linear-gradient(180deg, #FFD9A0 20.5%, #FFAD98 33.26%, #E5C6D6 63.79%, #C4BAD2 100%);
    z-index: -1;
}
.page-slider__section {
    bottom: 0;
    left: 0;
}
#pageSliderOffset {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: white;
    background-color: rgba(0,0,0, .5);
}