@import "media.css";

[data-scrollbar-horizontal] {
    &._scrollbar {
        margin-bottom: 17px;
    }
}
[data-scrollbar] {
    position: relative;
}
[data-scrollbar-bar] {

}
[data-scrollbar-track] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    background-color: #F2F2F2;
    border-radius: 30px;
    z-index: 1;
}
/*[data-scrollbar-bar] {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 6px;*/
/*    height: 44px;*/
/*    margin: auto;*/
/*    background-color: var(--border);*/
/*    border-radius: 30px;*/
/*    cursor: pointer;*/
/*}*/
[data-scrollbar-track-horizontal] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -26px;
    height: 1px;
    background-color: var(--c-black);
    border-radius: 30px;
    z-index: 1;
}
[data-scrollbar-bar-horizontal] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 95px!important;
    height: 3px;
    margin: auto;
    background-color: var(--c-orange);
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        height: 16px;
    }
}