@import "media.css";

:root {
    --c-black: black;

    --border: #F0F0F0;

    --inputBg: #EDEDED;
    --inputBorder: #CFCFCF;

    --placeholder: #B6ACA0;

    --boxShadow: 0px 30px 55px rgba(0, 0, 0, 0.1);
    --borderRadius: 6px;
    --transition: .2s;
}