@import "media.css";

#map {
    .ymaps-2-1-76-balloon__close-button {
        width: 52px;
        height: 51px;
    }
    .ymaps-2-1-76-balloon__content {
        padding: 30px 30px 25px;
        font-family: 'Montserrat';
        font-size: 14px;
        @media(--mobile-xs) {
            padding: 15px;
            font-size: 12px;
        }
        .ymaps-2-1-76-balloon-content__header {
            margin-bottom: 18px;
            @media(--mobile-xs) {
                margin-bottom: 10px;
            }
        }
        .shops-item-button__link {
            pointer-events: none;
            font-size: 14px;
            @media(--mobile-xs) {
                font-size: 12px;
            }
        }
        .shops-item-phone {
            margin-bottom: 2px;
        }
        .shops-item__mode {
            margin-bottom: 10px;
        }
        .shops-item__point {
            margin-bottom: 3px;
        }
    }
}
